<template>
  <div class="build-history">
    <div class="header">
      <el-tabs v-model="tabName">
        <el-tab-pane label="最近运行" name="LastBuild"></el-tab-pane>
        <el-tab-pane label="运行历史" name="BuildHistory"></el-tab-pane>
      </el-tabs>
      <div class="btn-group">
        <el-button type="default" @click="$router.back()">返回</el-button>
        <el-button type="default" @click="edit">编辑</el-button>
        <el-button type="primary" class="btn-save" @click="build">运行</el-button>
      </div>
    </div>
    <div class="main" v-show="tabName==='LastBuild'">
      <div class="left">
        <div class="build-status">
          <template v-if="jobInfo.status === 'SUCCESS'">
            <span></span> <span><i class="el-icon-success"></i><span>运行成功</span></span>
          </template>
          <template v-else-if="jobInfo.status === 'NOT_BUILT'">
            <span></span> <span><i class="el-icon-timer"></i><span>等待运行</span></span>
          </template>
          <template v-else>
            <span>#{{jobInfo.status}}</span> <span><i class="el-icon-error"></i><span>运行失败</span></span>
          </template>
        </div>
        <div class="item">
          <div class="label">触发信息</div>
          <div class="content">{{jobInfo.triggers}}</div>
        </div>
        <div class="item">
          <div class="label">开始时间</div>
          <div class="content">{{jobInfo.startTime}}</div>
        </div>
        <div class="item">
          <div class="label">持续时间</div>
          <div class="content">{{jobInfo.keeptime}}毫秒</div>
        </div>
        <div class="item">
          <div class="label">运行备注</div>
        </div>
        <div class="mutiple-line-content">{{jobInfo.remake}}</div>
      </div>
      <div class="right">
        <build-history-detail :steps="steps" :job-name="jobInfo.jobName"/>
      </div>
    </div>
    <div class="list-main" v-show="tabName==='BuildHistory'">
      <build-history-list/>
    </div>
  </div>
</template>

<script>
import BuildHistoryDetail from '@/components/common/BuildHistoryDetail'
import BuildHistoryList from '@/components/common/BuildHistoryList'
import {getLastJob,getJob} from '@/assets/js/api'
import dayjs from 'dayjs'
export default {
  components: {BuildHistoryDetail, BuildHistoryList},
  data() {
    return {
      jobId: '',
      tabName: 'LastBuild',
      jobInfo: {
        buildId: '',
        creader: '',
        jobId: '',
        jobName: '',
        keeptime: '',
        log: '',
        logFormat: '',
        number: '',
        remake: '',
        state: '',
        status: '',
        timestamp: '',
        triggers: ''
      },
      steps: [
        {
          name: '测试',
          tasks: [
            {
              id: 1,
              name: 'Java 代码扫描',
              success: true,
              hasRun: true,
              times: 13
            }, 
            {
              id: 2,
              name: 'Maven 单元测试',
              success: false,
              hasRun: true,
              times: 11
            }
          ]
        },
        {
          name: '构建',
          tasks: [
            {
              id: 3,
              name: 'Java 构建上传',
              success: false,
              hasRun: false,
              times: null
            }
          ]
        },
        {
          name: '部署',
          tasks: [
            {
              id: 3,
              name: '主机构建部署',
              success: false,
              hasRun: false,
              times: null
            }
          ]
        }
      ],
      historyData: []
    }
  },
  methods: {
    loadData() {
      this.jobId = this.$route.params.id;
      getLastJob({jobId: this.jobId}).then(({obj}) => {
        this.jobInfo = {
          ...obj,
          startTime: dayjs(obj.timestamp).format('YYYY-MM-DD HH:mm:ss')
        };
        console.log(obj)
      })
    },
    edit() {
        getJob({jobId: this.$route.params.id}).then(({obj}) => {
            // sessionStorage.setItem('taskData',JSON.stringify(obj))
            this.$router.push({
                name: 'MyFlow',
                params: {
                    data: obj
                }
            })
        })
    },
    build() {

    }
  },
  watch: {
    '$route': {
      handler() {
        this.loadData();
      },
      immediate: true
    }
  },
  mounted(){
      this.jobId = this.$route.params.id;
      console.log(this.jobId)
  },
}
</script>

<style lang="less" scoped>
.build-history {
  .header{
    position: relative;
    display: flex;
    height: 50px;
    box-sizing: border-box;
    font-size: 14px;
    align-items: center;
    .btn-group{
      position: absolute;
      z-index: 10;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      .btn-save{
        margin-right: 20px;
      }
    }
    /deep/ .el-tabs--top{
      flex: 1;
      margin-top: 10px;
    }
    /deep/ .el-tabs__header{
      margin: 0;
      .el-tabs__item{
        padding-left: 20px;
      }
    }
  }
  .main{
    display: flex;
    box-sizing: border-box;
    height: calc(100vh - 100px);
    width: 100%;
    background: #f0f0f0;
    >.left{
      width: 250px;
      height: 100%;
      background: #fff;
      border-radius: 6px;
      overflow-y: auto;
      padding: 20px;
      .build-status{
        padding-bottom: 10px;
        span{
          font-size: 14px;
          &:first-child{
            margin-right: 10px;
          }
          &:last-child{
            .el-icon-error, .el-icon-error+*{
              color: red;
            }
            .el-icon-success, .el-icon-success+*{
              color: lightgreen;
            }
            .el-icon-timer, .el-icon-timer+*{
              color: lightgray;
            }
            i{
              margin-right: 10px;
            }
          }
        }
      }
      .item{
        display: flex;
        font-size: 12px;
        height: 40px;
        align-items: center;
        .label{
          width: 80px;
          color: #666;
        }
        .content{
          flex: 1;
          text-align: right;
        }
      }
      .mutiple-line-content{
        word-break: break-all;
        padding: 5px 10px;
        line-height: 1.5;
        font-size: 12px;
        border: 1px solid #eee;
        border-radius: 6px;
        color: #bbb;
      }
    }
    >.right{
      flex: 1;
      height: 100%;
    }
  }
  .list-main{
    height: calc(100vh - 100px);
  }
}
</style>