<template>
  <div class="configure">
      <el-tabs v-model="activeName" @tab-click="handleClick">
        <el-tab-pane label="SVN" name="first">
            
            <!-- <div class="line"></div>
            
            <div class="line"></div> -->
            <el-form ref="form" :model="form2" style="width:50%;margin:0 auto 10px;" label-width="150px" label-position="left">
                <i style="font-weight:600;">项目列表参数</i>
                <el-form-item label="项目名称">
                    <el-input v-model="form2.DATANAME" @blur="regGetData"></el-input>
                </el-form-item>
                <el-form-item label="svn地址">
                    <el-input v-model="form2.URL"></el-input>
                </el-form-item>
                <el-form-item label="svn账号" class="halfItem">
                    <el-input v-model="form2.USERNAME"></el-input>
                </el-form-item>
                <el-form-item label="svn密码" class="halfItem">
                    <el-input v-model="form2.PASSWORD"></el-input>
                </el-form-item>
                <el-form-item style="text-align:right;margin-bottom:0px;">
                    <span style="margin-right:20px;" :style="form2.isState?styleData:''">{{form2.isState}}</span>
                    <el-button type="primary" @click="svnReg2">验证</el-button>
                </el-form-item>
            </el-form>
            
            <el-form ref="form" :model="form3" style="width:50%;margin:0 auto 10px;" label-width="150px" label-position="left">
                <el-form-item label="svn_credentialsId">
                    <el-input v-model="form3.SVNID" disabled style="width:80%"></el-input>
                    <el-button style="float:right;margin-bottom:0px;" type="primary" @click="obtain" :disabled="!form2.isState">获取</el-button>
                </el-form-item>
                <!-- <el-form-item style="text-align:right;margin-bottom:0px;">
                    <el-button type="primary" @click="obtain" :disabled="!form2.isState">获取</el-button>
                </el-form-item> -->
            </el-form>
            
            <el-form ref="form" :model="form4" style="width:50%;margin:0 auto 10px;" label-width="150px" label-position="left">
                <!-- <el-form-item label="项目名称">
                    <el-input v-model="form4.DATANAME"></el-input>
                </el-form-item> -->
                <el-form-item label="浏览器访问端口" class="halfItem">
                    <el-input @blur="regGetNum(1)" v-model="form4.PORT"></el-input>
                </el-form-item>
                <el-form-item label="docker端口" class="halfItem">
                    <el-input @blur="regGetNum(2)" v-model="form4.dockerPORT"></el-input>
                </el-form-item>
                <el-form-item label="部署方式" class="halfItem">
                    <el-radio-group v-model="form4.type">
                    <el-radio label="jar"></el-radio>
                    <el-radio label="war"></el-radio>
                    </el-radio-group>
                </el-form-item>
                <el-form-item label="docker容器id" class="halfItem"  v-show="form4.type==''||form4.type=='war'">
                    <el-input :disabled="form4.type==''" v-model="form4.dockerID"></el-input>
                </el-form-item>
                <el-form-item label="jar发布方式" class="halfItem" v-show="form4.type==''||form4.type=='jar'">
                    <el-select v-model="form4.jarRelease" :disabled="form4.type==''" @change="form4.warRelease=form4.jarRelease">
                        <el-option label="只发布" value="0"></el-option>
                        <el-option label="编译+发布" value="1"></el-option>
                        <el-option label="检测+编译+发布+测试" value="2"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="war发布方式" class="halfItem" v-show="form4.type==''||form4.type=='war'">
                    <el-select v-model="form4.warRelease" :disabled="form4.type==''" @change="form4.jarRelease=form4.warRelease">
                        <el-option label="只发布" value="0"></el-option>
                        <el-option label="编译+发布" value="1"></el-option>
                        <el-option label="检测+编译+发布+测试" value="2"></el-option>
                    </el-select>
                </el-form-item>
                
                <el-form-item label="项目版本号" class="halfItem">
                    <el-input v-model="form4.edition"></el-input>
                </el-form-item>
                <el-form-item label="项目jar包位置" v-show="form4.type==''||form4.type=='jar'">
                    <el-input v-model="form4.jarPosition" @change="form4.warPosition=form4.jarPosition" :disabled="form4.type==''" placeholder="格式要求：target/spring-boot-hello-1.0.jar"></el-input>
                </el-form-item>
                <el-form-item label="项目war包位置" v-show="form4.type==''||form4.type=='war'">
                    <el-input v-model="form4.warPosition" @change="form4.jarPosition=form4.warPosition" :disabled="form4.type==''" placeholder="格式要求：target/spring-boot-hello-1.0.war"></el-input>
                </el-form-item>
                <el-form-item label="项目说明">
                    <el-input type="textarea" v-model="form4.explain"></el-input>
                </el-form-item>
                <!-- <el-form-item style="text-align:right;margin-bottom:0px;">
                    <el-button type="primary">验证</el-button>
                </el-form-item> -->
            </el-form>
            <div class="line"></div>
            <div class="basics">基础设置</div>
            <!-- <el-form ref="form" :model="form" style="width:50%;margin:0 auto 10px;" label-width="150px" label-position="left">
                <i>参数1：登录jenkins系统 调用jenkins API接口</i>
                <el-form-item label="jenkins_地址">
                    <el-input disabled v-model="form.URL"></el-input>
                </el-form-item>
                <el-form-item label="jenkins_账号">
                    <el-input disabled v-model="form.USERNAME"></el-input>
                </el-form-item>
                <el-form-item label="jenkins_token">
                    <el-input disabled v-model="form.PASSWORD"></el-input>
                </el-form-item>
                <el-form-item style="text-align:right;margin-bottom:0px;">
                    <span style="margin-right:20px;" :style="form.isState?styleData:''">{{form.isState}}</span>
                    <el-button type="primary" @click="jenkisReg">验证</el-button>
                </el-form-item>
            </el-form> -->
            <el-form ref="form" :model="form1" style="width:50%;margin:0 auto 10px;" label-width="150px" label-position="left">
                <!-- <i>参数2：指定创建的jenkinsFile文件对应远程的svn账号 密码 本地svn目录  pipelin远程执行script需要    (特别说明：需要本地执行svn拉取，如果没有svn拉取目录无法执行)</i> -->
                <i>自动化脚本库    (特别说明：需要本地执行svn拉取，如果没有svn拉取目录无法执行)</i>
                <el-form-item label="svn地址">
                    <el-input v-model="form1.URL"></el-input>
                </el-form-item>
                <el-form-item label="svn账号">
                    <el-input v-model="form1.USERNAME"></el-input>
                </el-form-item>
                <el-form-item label="svn密码">
                    <el-input v-model="form1.PASSWORD"></el-input>
                </el-form-item>
                <el-form-item label="存储目录(本地)">
                    <el-input v-model="form1.CATALOGUE" placeholder="格式要求：D:/2021_test/0_jenkinsfile/java"></el-input>
                </el-form-item>
                <el-form-item style="text-align:right;margin-bottom:0px;">
                    <span style="margin-right:20px;" :style="form1.isState?styleData:''">{{form1.isState}}</span>
                    <el-button type="primary" @click="svnReg">验证</el-button>
                </el-form-item>
            </el-form>
            <el-form ref="form" :model="form5" style="width:50%;margin:0 auto 10px;" label-width="150px" label-position="left">
                <i>ssh命令执行 服务器  docker命令</i>
                <el-form-item label="ssh地址">
                    <el-input v-model="form5.URL"></el-input>
                </el-form-item>
                <el-form-item label="ssh端口">
                    <el-input v-model="form5.PORT"></el-input>
                </el-form-item>
                <el-form-item label="ssh账号">
                    <el-input v-model="form5.USERNAME"></el-input>
                </el-form-item>
                <el-form-item label="ssh密码">
                    <el-input v-model="form5.PASSWORD"></el-input>
                </el-form-item>
                <el-form-item style="text-align:right;margin-bottom:0px;">
                    <span style="margin-right:20px;" :style="form5.isState?styleData:''">{{form5.isState}}</span>
                    <el-button type="primary" @click="sshReg">验证</el-button>
                </el-form-item>
            </el-form>
            
            <div class="line"></div>
            <div class="saveBtns">
                <el-button @click="resultBtn">取消</el-button>
                <el-button type="primary" :disabled="!form.isState&&!form1.isState&&!form2.isState&&!form5.isState" @click="submit">提交</el-button>
                <!-- <el-button type="primary" :disabled="!form1.isState&&!form2.isState" @click="submit">提交</el-button> -->
            </div>
            <div class="line long"></div>
            <el-table
                :data="tableData"
                border
                style="width: 99%">
                <!-- <el-table-column
                prop="id"
                label="编号"
                align="center"
                width="80">
                </el-table-column> -->
                <el-table-column
                prop="projectName"
                label="项目名称"
                align="center"
                width="150">
                </el-table-column>
                <el-table-column
                prop="svnLocalhost"
                label="jenkins SVN地址"
                align="center"
                width="150">
                </el-table-column>
                <el-table-column
                prop="svnCredentialsId"
                label="SVN凭证ID"
                align="center"
                width="160">
                </el-table-column>
                <el-table-column
                prop="projectPort"
                label="项目访问端口"
                align="center"
                width="100">
                </el-table-column>
                <el-table-column
                prop="dockerPort"
                label="docker端口"
                align="center"
                width="100">
                </el-table-column>
                <el-table-column
                prop="projectVersion"
                label="项目版本号"
                align="center"
                width="100">
                </el-table-column>
                <el-table-column
                prop="svnUrl"
                label="项目SVN地址"
                align="center"
                width="160">
                </el-table-column>
                <el-table-column
                prop="type"
                label="部署方式"
                align="center"
                width="70">
                </el-table-column>
                <el-table-column
                prop="sshUrl"
                label="ssh地址"
                align="center"
                width="160">
                </el-table-column>
                <el-table-column
                label="操作"
                align="center"
                width="120">
                    <template slot-scope="scope">
                        <el-button @click="modifyClick(scope.row)" type="text" size="small">修改</el-button>
                        <el-button @click="removeClick(scope.row)" type="text" size="small">删除</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <el-pagination
                layout="prev, pager, next"
                :page-size="pageSize"
                @current-change="pageChange"
                @prev-click="pageChange"
                @next-click="pageChange"
                :total="pageCount">
            </el-pagination>
        </el-tab-pane>
        <el-tab-pane label="Git" name="second">Git</el-tab-pane>
    </el-tabs>
  </div>
</template>

<script>
// import FlowTemplateSelector from '@/components/common/FlowTemplateSelector';
// import FlowCreator from '@/components/common/FlowCreator';
// import StepBar from '@/components/common/TableColumnStepBar';
// import StatusBar from '@/components/common/TableColumnStatusBar';
// import {deepCopy} from '@/assets/js/utils'
import {
  svnCheckImpl,
  svnCheck,
  jobGetList,
  jobGetOne,
  jobDeteleOne,
  jobAddOne,
  jobUpdateOne,
  createCredentials,
  jenkinsCheckImpl,
  isPortUsing
} from '@/assets/js/api'
// import dayjs from 'dayjs';

export default {
//   components: { FlowTemplateSelector, FlowCreator, StepBar, StatusBar },
  data() {
    return {
      activeName: 'first',
      form:{
          URL:'',
          USERNAME:'',
          PASSWORD:'',
          isState:false,
      },
      form1:{
          URL:'',
          USERNAME:'',
          PASSWORD:'',
          CATALOGUE:'',
          isState:false,
      },
      form2:{
          URL:'',
          USERNAME:'',
          PASSWORD:'',
          DATANAME:'',
          isState:false,
      },
      form3:{
          SVNID:''
      },
      form4:{
          DATANAME:'',
          PORT:'',
          dockerPORT:'',
          edition:'',
          jarPosition:'',
          warPosition:'',
          dockerID:'',
          explain:'',
          type:'',
          jarRelease:'',
          warRelease:''
      },
      form5:{
          URL:'',
          USERNAME:'',
          PASSWORD:'',
          PORT:'',
          isState:false,
      },
      tableData: [],
      modifyObj:null,
      submitState:1,
      styleData:'color:green;font-weight:700;',
      pageSize:10,
      pageCount:0,
      cacheData:null,
    }
  },
  methods: {
    regGetData(){
        var regName = /[\u4E00-\u9FA5]/g;
        // var regName = /^[A-Za-z0-9]+$/;
        if (regName.test(this.form2.DATANAME)&&this.form2.DATANAME!='') {
            this.$message.info('不能输入中文');
            this.form2.DATANAME = "";
        }
    },
     async regGetNum(num){
        var regName = /^[0-9]+$/;
        // var regName =/^0(0+|\d+)|[^\d]+/g;
        if(num==1){
            if (!regName.test(this.form4.PORT)&&this.form4.PORT!='') {
                this.$message.info('只能输入数字');
                this.form4.PORT = "";
            }else{
                var data = await isPortUsing({"type":'linux',"port":this.form4.PORT});
                console.log(data)
                if(data.code=='1000'){
                    if(data.obj){
                         this.$message.info('端口被占用,请重新输入');
                         this.form4.PORT='';
                    }else{
                         this.$message.success('端口未被占用,可以使用');
                    }
                }
            }
            // else{
            //     console.log(!regName.test(this.form4.PORT),'---',this.form4.PORT!='')
            // }
        }else if(num==2){
            if (!regName.test(this.form4.dockerPORT)&&this.form4.dockerPORT!='') {
                this.$message.info('只能输入数字');
                this.form4.dockerPORT = "";
            }else{
                var data1 = await isPortUsing({"type":'docker',"port":this.form4.dockerPORT});
                if(data1.code=='1000'){
                    if(data1.obj){
                         this.$message.info('端口被占用,请重新输入');
                         this.form4.dockerPORT=''
                    }else{
                         this.$message.success('端口未被占用,可以使用');
                    }
                }
                console.log(data1)
            }
        }
        // if(this.form2.DATANAME)
        
    },
    handleClick(tab, event) {
        console.log(tab, event);
    },
    async modifyClick(row) {
        // console.log(row);
        this.submitState=2;
        var data = await jobGetOne({id:row.id})
        this.modifyObj=data.obj
        console.log(this.modifyObj)
        this.form2.DATANAME=this.modifyObj.projectName//	项目名称
        this.form2.URL=this.modifyObj.svnUrl//	svn地址
        this.form2.USERNAME=this.modifyObj.svnUsername//	svn账号
        this.form2.PASSWORD=this.modifyObj.svnPassword//	svn密码
        this.form3.SVNID=this.modifyObj.svnCredentialsId//	svn凭证id
        this.form4.DATANAME=this.modifyObj.projectName//	项目名称
        this.form4.PORT=this.modifyObj.projectPort//	项目访问端口
        this.form4.dockerPORT=this.modifyObj.dockerPort//	docker端口
        this.form4.edition=this.modifyObj.projectVersion//	项目版本号
        this.form4.jarPosition=this.modifyObj.projectUrlJar//	项目jar包位置
        this.form4.warPosition=this.modifyObj.projectUrlWar//	项目war包位置
        this.form4.dockerID=this.modifyObj.dockerId//	docker容器id
        this.form4.explain=this.modifyObj.projectDescribe//	项目说明
        this.form4.type=this.modifyObj.type//	部署方式（jar,war）
        this.form4.jarRelease=this.modifyObj.exeTypeJar.toString();
        this.form4.warRelease=this.modifyObj.exeTypeWar.toString();
        this.form1.URL=this.modifyObj.svnLocalhost//	jenkinsFile 的svn地址
        this.form1.USERNAME=this.modifyObj.svnUsernameProject//	jenkinsFile 的svn用户名
        this.form1.PASSWORD=this.modifyObj.svnPasswordProject//	jenkinsFile 的svn密码
        this.form1.CATALOGUE=this.modifyObj.filePath//	本地零时存储目录  jenkinsfile
        this.form5.URL=this.modifyObj.sshUrl//	ssh地址
        this.form5.PORT=this.modifyObj.sshPort//	ssh端口
        this.form5.USERNAME=this.modifyObj.sshName//	ssh名称
        this.form5.PASSWORD=this.modifyObj.sshPwd//	ssh密码
        this.form.URL=this.modifyObj.jenkinsUrl//	jenkinsFile 的svn地址
        this.form.USERNAME=this.modifyObj.jenkinsUsername//	jenkinsFile 的svn用户名
        this.form.PASSWORD=this.modifyObj.jenkinsToken//	jenkinsFile 的svn密码
    },
    async removeClick(row) {
        // console.log(row);
        var data = await jobDeteleOne({id:row.id})
        if(data.code=='1000'){
            this.$message.success('删除成功');
            this.getList(1,10);
        }
    },
    async jenkisReg(){
        if(this.form.URL==''){
            this.$message.error('jenkins_地址不能为空');
        } else if(this.form.USERNAME==''){
            this.$message.error('jenkins_账号不能为空');
        } else if(this.form.PASSWORD==''){
            this.$message.error('jenkins_token不能为空');
        }  else{
            var data = await jenkinsCheckImpl({jenkinsUrl:this.form.URL,jenkinsUsername:this.form.USERNAME,jenkinsToken:this.form.PASSWORD})
            this.form.isState=data.obj
            // console.log(data)
        }
    },
    async svnReg(){
        if(this.form1.URL==''){
            this.$message.error('svn地址不能为空');
        } else if(this.form1.USERNAME==''){
            this.$message.error('svn账号不能为空');
        } else if(this.form1.PASSWORD==''){
            this.$message.error('svn密码不能为空');
        }  else{
            var data = await svnCheckImpl({sshIp:this.form1.URL,sshName:this.form1.USERNAME,sshPwd:this.form1.PASSWORD})
            this.form1.isState=data.obj
            // console.log(data)
        }
        // await svnCheckImpl({})
    },
    async svnReg2(){
        if(this.form2.URL==''){
            this.$message.error('svn地址不能为空');
        } else if(this.form2.USERNAME==''){
            this.$message.error('svn账号不能为空');
        } else if(this.form2.PASSWORD==''){
            this.$message.error('svn密码不能为空');
        }  else{
            var data = await svnCheckImpl({sshIp:this.form2.URL,sshName:this.form2.USERNAME,sshPwd:this.form2.PASSWORD})
            this.form2.isState=data.obj
            // console.log(data)
        }
        // await svnCheckImpl({})
    },
    async sshReg(){
        if(this.form5.URL==''){
            this.$message.error('ssh地址不能为空');
        } else if(this.form5.USERNAME==''){
            this.$message.error('ssh账号不能为空');
        } else if(this.form5.PASSWORD==''){
            this.$message.error('ssh密码不能为空');
        } else if(this.form5.PORT==''){
            this.$message.error('ssh端口不能为空');
        } else{
            var data = await svnCheck({sshIp:this.form5.URL,sshName:this.form5.USERNAME,sshPwd:this.form5.PASSWORD,sshPort:this.form5.PORT,})
            this.form5.isState=data.obj
            // console.log(data)
        }
    },
    pageChange(row){
        this.getList(row,this.pageSize)
    },
    async getList(page,row){
        var data = await jobGetList({page:page,row:row})
        this.tableData=data.obj.data
        this.pageCount = data.obj.total
        if(page==1&&!this.cacheData){
            this.cacheData=data.obj.data[0];
            this.writeData();
        }
        // console.log(data)
    },
    async obtain(){
        var data = await createCredentials({username: this.form2.USERNAME,password: this.form2.PASSWORD})
        console.log(data);
        if(data.code=='1000'){
            this.form3.SVNID=data.obj.credentialsId
        }
    },
    submit(){
        if(this.submitState==1){
            this.submitAdd()
        }else if(this.submitState==2){
            this.submitUpdate()
        }
    },
    async submitAdd(){
        var params=this.submitGetData(1)
        console.log(params)
        if(params){
            var data = await jobAddOne(params)
            console.log(data);
            if(data.code=='1000'){
                this.$message.success('创建成功');
                this.cacheData=null;
                this.getList(1,10);
                this.resultBtn();
            }
        }
    },
    submitGetData(num){
        // ||
        // this.form4.DATANAME==''
        // this.form.URL==''||this.form.USERNAME==''||this.form.PASSWORD==''||
        if(this.form1.URL==''||this.form1.USERNAME==''||this.form1.PASSWORD==''||
        this.form1.CATALOGUE==''||this.form2.URL==''||this.form2.USERNAME==''||
        this.form2.PASSWORD==''||this.form2.DATANAME==''||this.form3.SVNID==''||this.form4.PORT==''||this.form4.dockerPORT==''||this.form4.explain==''||this.form4.type==''||
        this.form5.URL==''||this.form5.USERNAME==''||this.form5.PASSWORD==''||
        this.form5.PORT==''){
        //     console.log(this.form.URL=='',this.form.USERNAME=='',this.form.PASSWORD=='',
        // this.form1.URL=='',this.form1.USERNAME=='',this.form1.PASSWORD=='',
        // this.form1.CATALOGUE=='',this.form2.URL=='',this.form2.USERNAME=='',
        // this.form2.PASSWORD=='',this.form2.DATANAME=='',this.form3.SVNID=='',
        // this.form4.DATANAME=='',this.form4.PORT=='',this.form4.dockerPORT=='',
        // this.form4.edition=='',this.form4.jarPosition=='',this.form4.warPosition=='',
        // this.form4.dockerID=='',this.form4.explain=='',this.form4.type=='',
        // this.form5.URL=='',this.form5.USERNAME=='',this.form5.PASSWORD=='',
        // this.form5.PORT=='')
            this.$message.error('所有数据不能为空，请全部填完');
            return;
        }else{
            var json={};
            if(num==2){
                // json.id=this.modifyObj.id
                json={
                    id:this.modifyObj.id,
                    projectName:this.form2.DATANAME,//	项目名称
                    svnUrl:this.form2.URL,//	svn地址
                    svnUsername:this.form2.USERNAME,//	svn账号
                    svnPassword:this.form2.PASSWORD,//	svn密码
                    svnCredentialsId:this.form3.SVNID,//	svn凭证id
                    projectPort:this.form4.PORT,//	项目访问端口
                    dockerPort:this.form4.dockerPORT,//	docker端口
                    projectVersion:this.form4.edition,//	项目版本号
                    projectUrlJar:this.form4.jarPosition,//	项目jar包位置
                    projectUrlWar:this.form4.warPosition,//	项目war包位置
                    dockerId:this.form4.dockerID,//	docker容器id
                    projectDescribe:this.form4.explain,//	项目说明
                    type:this.form4.type,//	部署方式（jar,war）
                    exeTypeJar:this.form4.jarRelease,// jar发布方式
                    exeTypeWar:this.form4.warRelease,// war发布方式
                    svnLocalhost:this.form1.URL,//	jenkinsFile 的svn地址
                    svnUsernameProject:this.form1.USERNAME,//	jenkinsFile 的svn用户名
                    svnPasswordProject:this.form1.PASSWORD,//	jenkinsFile 的svn密码
                    filePath:this.form1.CATALOGUE,//	本地零时存储目录  jenkinsfile
                    sshUrl:this.form5.URL,//	ssh地址
                    sshPort:this.form5.PORT,//	ssh端口
                    sshName:this.form5.USERNAME,//	ssh名称
                    sshPwd:this.form5.PASSWORD,//	ssh密码
                    jenkinsUrl:this.form1.URL,
                    jenkinsUsername:this.form1.USERNAME,
                    jenkinsToken:this.form1.PASSWORD,

                }
            }else if(num==1){
                json={
                    projectName:this.form2.DATANAME,//	项目名称
                    svnUrl:this.form2.URL,//	svn地址
                    svnUsername:this.form2.USERNAME,//	svn账号
                    svnPassword:this.form2.PASSWORD,//	svn密码
                    svnCredentialsId:this.form3.SVNID,//	svn凭证id
                    projectPort:this.form4.PORT,//	项目访问端口
                    dockerPort:this.form4.dockerPORT,//	docker端口
                    projectVersion:this.form4.edition,//	项目版本号
                    projectUrlJar:this.form4.jarPosition,//	项目jar包位置
                    projectUrlWar:this.form4.warPosition,//	项目war包位置
                    dockerId:this.form4.dockerID,//	docker容器id
                    projectDescribe:this.form4.explain,//	项目说明
                    type:this.form4.type,//	部署方式（jar,war）
                    exeTypeJar:this.form4.jarRelease,// jar发布方式
                    exeTypeWar:this.form4.warRelease,// war发布方式
                    svnLocalhost:this.form1.URL,//	jenkinsFile 的svn地址
                    svnUsernameProject:this.form1.USERNAME,//	jenkinsFile 的svn用户名
                    svnPasswordProject:this.form1.PASSWORD,//	jenkinsFile 的svn密码
                    filePath:this.form1.CATALOGUE,//	本地零时存储目录  jenkinsfile
                    sshUrl:this.form5.URL,//	ssh地址
                    sshPort:this.form5.PORT,//	ssh端口
                    sshName:this.form5.USERNAME,//	ssh名称
                    sshPwd:this.form5.PASSWORD,//	ssh密码
                    jenkinsUrl:this.form1.URL,
                    jenkinsUsername:this.form1.USERNAME,
                    jenkinsToken:this.form1.PASSWORD,
                }
            }
            return json
        }
    },
    async submitUpdate(){
        var params=this.submitGetData(2)
        // console.log(params)
        if(params){
            var data = await jobUpdateOne(params)
            // console.log(data);
            if(data.code=='1000'){
                this.$message.success('修改成功');
                this.cacheData=null;
                this.getList(1,10);
                this.submitState=1;
                this.resultBtn();
            }
        }
        // console.log(params)
        
    },
    resultBtn(){
        this.form.URL='';
        this.form.USERNAME='';
        this.form.PASSWORD='';
        this.form.isState=false;
        this.form1.URL='';
        this.form1.USERNAME='';
        this.form1.PASSWORD='';
        this.form1.CATALOGUE='';
        this.form1.isState=false;
        this.form2.URL='';
        this.form2.USERNAME='';
        this.form2.PASSWORD='';
        this.form2.DATANAME='';
        this.form2.isState=false;
        this.form3.SVNID='';
        this.form4.DATANAME='';
        this.form4.PORT='';
        this.form4.dockerPORT='';
        this.form4.edition='';
        this.form4.jarPosition='';
        this.form4.warPosition='';
        this.form4.jarRelease='';
        this.form4.warRelease='';
        this.form4.dockerID='';
        this.form4.explain='';
        this.form4.type='';
        this.form5.URL='';
        this.form5.USERNAME='';
        this.form5.PASSWORD='';
        this.form5.PORT='';
        this.form5.isState=false;
    },
    writeData(){
        
        // projectName:this.form2.DATANAME,//	项目名称
        // svnUrl:this.form2.URL,//	svn地址
        // svnUsername:this.form2.USERNAME,//	svn账号
        // svnPassword:this.form2.PASSWORD,//	svn密码
        // svnCredentialsId:this.form3.SVNID,//	svn凭证id
        // projectPort:this.form4.PORT,//	项目访问端口
        // dockerPort:this.form4.dockerPORT,//	docker端口
        // projectVersion:this.form4.edition,//	项目版本号
        // projectUrlJar:this.form4.jarPosition,//	项目jar包位置
        // projectUrlWar:this.form4.warPosition,//	项目war包位置
        // dockerId:this.form4.dockerID,//	docker容器id
        // projectDescribe:this.form4.explain,//	项目说明
        // type:this.form4.type,//	部署方式（jar,war）
        // exeTypeJar:this.form4.jarRelease,// jar发布方式
        // exeTypeWar:this.form4.warRelease,// war发布方式

         this.form1.URL = this.cacheData.svnLocalhost //	jenkinsFile 的svn地址
         this.form1.USERNAME = this.cacheData.svnUsernameProject //	jenkinsFile 的svn用户名
         this.form1.PASSWORD = this.cacheData.svnPasswordProject //	jenkinsFile 的svn密码
         this.form1.CATALOGUE = this.cacheData.filePath //	本地零时存储目录  jenkinsfile
         this.form5.URL = this.cacheData.sshUrl //	ssh地址
         this.form5.PORT = this.cacheData.sshPort //	ssh端口
         this.form5.USERNAME = this.cacheData.sshName //	ssh名称
         this.form5.PASSWORD = this.cacheData.sshPwd //	ssh密码

        // jenkinsUrl:this.form1.URL,
        // jenkinsUsername:this.form1.USERNAME,
        // jenkinsToken:this.form1.PASSWORD,
    },
  },
  mounted(){
      this.getList(1,10);
  },
  created() {
    // this.loadData()
    // getGroupList().then(({obj}) => {
    //   this.groups = obj;
    // })
  }
}
</script>

<style lang="less" scoped>
.configure{
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;

    /deep/ .el-tabs__content{
		height: calc(100vh - 110px);
		overflow-y: auto;
	}
    .line{
        width: 50%;
        // height: 20px;
        // line-height: 20px;
        border-top: dashed 1px #000;
        margin:0 auto 10px;
    }
    .basics{
        width: 50%;
        height: 20px;
        line-height: 20px;
        margin:0 auto 10px;
        font-weight: 600;
    }
    .saveBtns{
        width: 100%;
        text-align: center;
        margin: 0 0 10px;
    }
    .long{
        width: 100%;
    }
    /deep/ .el-form>i{
        font-style: normal;
    }
    .halfItem{
        width: 48%;
        display: inline-block;
        margin-right: 2%;
    }
}
</style>