<template>
  <div class="main">
    <div class="header">
        <i class="el-icon-s-grid"></i>
        <span>自动化 Flow</span>
    </div>
    <keep-alive>
      <router-view class="body"></router-view>
    </keep-alive>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="less" scoped>
.main{
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 1200px;
  .header{
    height: 50px;
    padding-left: 20px;
    line-height: 50px;
    border-bottom: 1px solid #ccc;
    >i{
      color: #ccc;
      cursor: pointer;
      &:hover{
        color: #3DA8F5;
      }
    }
    >span{
      margin-left: 20px;
      font-size: 15px;
      font-weight: 600;
    }
  }
  .body{
    flex: 1;
  }
}
</style>