<template>
  <div class="my-flow">
    <div class="header-bar">
      <div class="title">我的自动化</div>
      <div class="right-group">
        <transition name="el-zoom-in-center" 
          :duration="100"
          @after-leave="isSearchBtnShow=true"
          @after-enter="inputEnter"
        >
          <el-input class="search-input" 
            ref="searchInput"
            prefix-icon="el-icon-search"
            placeholder="输入关键字搜索"
            v-show="isSearchInputShow"
            @blur="isSearchInputShow=false"
          ></el-input>
        </transition>
        <el-tooltip content="搜索" placement="top">
          <transition name="el-fade-in" 
            @after-leave="isSearchInputShow=true"
            :duration="100"
          >
            <i class="el-icon-search icon-btn" v-show="isSearchBtnShow" @click="isSearchBtnShow=false"></i>
          </transition>
        </el-tooltip>
        <el-tooltip content="排序" placement="top">
          <el-dropdown trigger="click" class="icon-btn" size="normal" @command="onSortCommand">
            <i class="el-icon-sort icon-btn"></i>
            <el-dropdown-menu slot="dropdown" class="drop-down-sort-selector">
              <el-dropdown-item 
                command="default" 
                icon="el-icon-check"
                :class="{checked: sortBy === 'default'}"
              >默认</el-dropdown-item>
              <el-dropdown-item 
                command="status" 
                icon="el-icon-check"
                :class="{checked: sortBy === 'status'}"
              >最近运行状态</el-dropdown-item>
              <el-dropdown-item 
                command="time" 
                icon="el-icon-check"
                :class="{checked: sortBy === 'time'}"
              >最近运行开始时间</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </el-tooltip>
        <i class="el-icon-finished icon-btn"></i>
        <el-divider direction="vertical"></el-divider>
        <el-radio-group v-model="isSimpleMode">
          <el-radio-button :label="false"><i class="el-icon-s-grid"></i></el-radio-button>
          <el-radio-button :label="true"><i class="el-icon-notebook-2"></i></el-radio-button>
        </el-radio-group>
        <el-button type="primary" @click="newFlow" style="margin-left: 5px;">新建自动化</el-button>
      </div>
    </div>
    <div class="main-area">
      <el-tabs v-model="tabIndex" :before-leave="goTab">
        <el-tab-pane label="我参与的" name="1">
          <el-table 
            :border="true"
            :stripe="true"
            :data="flowList"
            ref="table"
            height="100%"
            style="width: 100%"
          >
            <el-table-column type="selection" align="center"></el-table-column>
            <el-table-column prop="jobName" label="自动化名称" min-width="200" align="center"></el-table-column>
            <template v-for="column of columns">
              <el-table-column 
                v-if="column.show && !column.component && (!isSimpleMode || column.simpleShow)"
                :prop="column.name" 
                :label="column.label" 
                :key="column.name"
                :width="column.width" 
                align="center"
              ></el-table-column>
              <template v-else>
                <component :is="column.component" :key="column.name" @custum-event="doColumnEvent" :column="column"/>
              </template>
            </template>
            <el-table-column prop="id" align="center" min-width="150" fixed="right">
              <template slot="header">
                <el-popover 
                  popper-class="table-column-setting-popover"
                  placement="bottom-start"
                  transition="slide-down-linear"
                >
                  <i slot="reference" class="el-icon-setting" v-show="!isSimpleMode"></i>
                  <ul>
                    <li class="header"><span style="text-align:center">表头设置</span></li>
                    <li v-for="column of columns" :key="column.name" @click="toggleColumnShow(column)">
                      <i class="el-icon-tickets"></i>
                      <span>{{column.label}}</span>
                      <i v-if="column.show" class="el-icon-check"></i>
                    </li>
                  </ul>
                </el-popover>
              </template>
              <template slot-scope="{row, $index}">
                <el-tooltip content="收藏" placement="top">
                  <i :class="['icon-btn', row.iscollect?'el-icon-star-on':'el-icon-star-off']" 
                    @click="favorite(row)"
                  ></i>
                </el-tooltip>
                <el-tooltip content="运行" placement="top">
                  <i class="icon-btn el-icon-video-play" 
                    @click="runFlow(row)"
                    :disabled="true"
                  ></i>
                </el-tooltip>
                <el-dropdown trigger="click" size="normal" @command="onCommand">
                  <el-tooltip content="操作" placement="top">
                    <i class="icon-btn el-icon-more"></i>
                  </el-tooltip>
                  <el-dropdown-menu slot="dropdown">
                    <el-popover placement="top" 
                      :visible-arrow="false" 
                      popper-class="popover-card-wrapper">
                      <el-card class="popover-card">
                        <div class="card-title">请选择目标组</div>
                        <div class="card-subtitle">分组名称</div>
                        <el-select v-model="row.groupId" value-key="groupId">
                          <el-option v-for="gp of groups" :key="gp.groupId" :label="gp.name" :value="gp.groupId"></el-option>
                        </el-select>
                        <div class="card-footer">
                          <el-button type="default" @click="moveCancel()">取消</el-button>
                          <el-button type="primary" @click="moveConfirm(row)">确定</el-button>
                        </div>
                      </el-card>
                      <el-dropdown-item slot="reference" icon="el-icon-s-promotion" :command="{cmd: 'move', row}">移动分组</el-dropdown-item>
                    </el-popover>
                    <el-dropdown-item icon="el-icon-info" :command="{cmd: 'view', row}">基本信息</el-dropdown-item>
                    <el-dropdown-item icon="el-icon-document-copy" :command="{cmd: 'copy', row}">复制自动化</el-dropdown-item>
                    <el-dropdown-item icon="el-icon-collection-tag">设置标签</el-dropdown-item>
                    <el-dropdown-item icon="el-icon-delete" :command="{cmd: 'delete', row, index: $index}">删除</el-dropdown-item>
                  </el-dropdown-menu>
                </el-dropdown>
              </template>
            </el-table-column>
          </el-table>
          <div class="pagination-wrapper">
            <el-pagination
              layout="prev, pager, next, jumper, total, sizes"
              :page-size="pageSize"
              :total="rowCount"
              @current-change="pageChange"
            >
            </el-pagination>
          </div>
        </el-tab-pane>
        <el-tab-pane label="我的收藏" name="2">
          <el-table :data="flowList">
            <el-table-column></el-table-column>
          </el-table>
        </el-tab-pane>
        <el-tab-pane name="3">
          <el-button slot="label" type="text" icon="el-icon-plus">添加收藏组</el-button>
        </el-tab-pane>
      </el-tabs>
      <div ref="closePopover"></div>
    </div>

    <flow-template-selector 
      ref="flowTemplateSelector"
      @confirm="createFlow"
    />
    <flow-creator ref="flowCreator" @closeDialog="closeDialog" @save="save"/>
  </div>
</template>

<script>
import FlowTemplateSelector from '@/components/common/FlowTemplateSelector';
import FlowCreator from '@/components/common/FlowCreator';
import StepBar from '@/components/common/TableColumnStepBar';
import StatusBar from '@/components/common/TableColumnStatusBar';
import {deepCopy} from '@/assets/js/utils'
import {
  ceateJob,
  collectJob, 
  getJobList,
  buildJob,
  deleteJob,
  getJob,
  getGroupList,
  updateJob
} from '@/assets/js/api'
import dayjs from 'dayjs';
const FLOW_DATA = {
  id: '',
  name: '',
  status: '',
  stage: '',
  triggerInfo: '',
  env: '',
  createdBy: '',
  created: '',
  startTime: '',
  groupId: 1,
  favorite: false,
  FlowBaseInfo: {
    name: '',
    flowID: '',
    env: '',
    groupID: 1,
    tags:[]
  },
  FlowConfig: {
    stepGroups: [],
    settingId:'',
    templateId:'',
  },
  FlowTriggerConfig: {
    triggerMode: 1,
    triggerWeekDay: [],
    startTime: '',
    endTime: '',
    intervalTime: 1,
    isWebhookTriggerOn: false,
    isTimerTriggerOn: false,
  },
  FlowVarAndCache: {
    charVarList: [],
    runVarList: []
  }
}
export default {
  components: { FlowTemplateSelector, FlowCreator, StepBar, StatusBar },
  data() {
    return {
      isSimpleMode: false,
      tabIndex: '1',
      columns: [
    //       {
    //     name: 'env',
    //     width: '100',
    //     label: '环境',
    //     show: true
    //   },
       {
        name: 'status',
        width: '100px',
        label: '最近运行状态',
        component: 'StatusBar',
        show: true,
        simpleShow: true
      }, {
        name: 'stage',
        width: '150',
        label: '最近运行阶段',
        component: 'StepBar',
        show: true,
        simpleShow: true

      }, {
        name: 'triggers',
        width: '150',
        label: '触发信息',
        show: true,
        simpleShow: true

      }, {
        name: 'creader',
        width: '100',
        label: '创建人',
        show: true,
        simpleShow: false

      }, {
        name: 'created',
        width: '150',
        label: '创建时间',
        show: true,
        simpleShow: false

      }, {
        name: 'buildTime',
        width: '150',
        label: '最近运行开始时间',
        show: true,
        simpleShow: false

      }],
      flowList: [],
      groups: [],
      collectList: [],
      isSearchInputShow: false,
      isSearchBtnShow: true,
      sortBy: 'default',
      page: 1,
      pageSize:10,
      rowCount:0,
      jobID:null,
      btnState:'',
      sessionData:sessionStorage.getItem('taskData'),
    }
  },
  methods: {
    closeDialog(val){
        console.log(val)
        this.$emit('closeDialog',false)
    },
    goTab(tabIndex) {
      return tabIndex !== '3';
    },
    inputEnter() {
      this.$nextTick(() => {
        this.$refs.searchInput.focus()        
      });
    },
    async toggleColumnShow(column) {
      column.show = !column.show;
      await this.$nextTick()
      this.$refs.table.doLayout();
    },
    newFlow() {
      this.$refs.flowTemplateSelector.open();
    },
    moveCancel() {
      this.$refs.closePopover.click();
    },
    moveConfirm(row) {
      if(!row.groupId) {
        this.$message.warning('请选择要移动到的分组');
        return;
      }
      this.$refs.closePopover.click();
    },
    async onSortCommand(sort) {
      await this.loadData(1, sort)
      this.sortBy = sort
    },
    async favorite(row) {
      await collectJob({
        jobId: row.jobId,
        iscollect: +!row.iscollect
      })
      row.iscollect = !row.iscollect;
    },
    async runFlow(row) {
      await buildJob({jobName: row.jobName,settingId:row.settingId})
      this.$message.success('操作成功，已开始运行');
    },
    onCommand({cmd, row, index} = {}) {
        console.log(cmd,'---',row,'---',index)
      if(cmd==='move') {
        row.isMoveDialogShow = true;
      }else if(['view', 'copy'].includes(cmd)){
        this.curRow = row ;
        this.btnState = cmd;
        // this.jobID= cmd === 'view' ? row.jobId : null;
        getJob({jobId: row.jobId}).then(({obj}) => {
            var stepArr=[];
            let stepsArr=obj.jobTemplateModel.description.split('，') 
            let stepsArray=[];
            let stepsName=''
            console.log(obj,stepsArr)
            stepsArr.map((o,i)=>{
                if(i==0){
                    stepsName=o;
                }
                let stepsJson={
                    name:o
                }
                stepsArray.push(stepsJson);
            })
            let stepJson={
                name:stepsName,
                steps:[stepsArray]
            }
            stepArr.push(stepJson)
            this.$refs.flowCreator.open({
                FlowBaseInfo: {
                    name: obj.jobName,
                    // flowID: cmd === 'view' ? obj.jobId : '',
                    flowID: obj.jobId,
                    env: obj.environment,
                    groupID: obj.groupId,
                    tags: obj.label.split('，')
                },
                FlowConfig: {
                    // stepGroups:cmd === 'view' ? stepArr : [],
                    stepGroups:stepArr,
                    // settingId:cmd === 'view' ? obj.settingId : '',
                    settingId:obj.settingId,
                    // templateId:cmd === 'view' ? obj.templateId : '',
                    templateId:obj.templateId,
                },
                FlowTriggerConfig: {
                triggerMode: 1,
                triggerWeekDay: [],
                startTime: '',
                endTime: '',
                intervalTime: 1,
                isWebhookTriggerOn: false,
                isTimerTriggerOn: false,
                },
                FlowVarAndCache: {
                charVarList: [],
                runVarList: []
                }
            });
          
        })
      }else if(cmd=='delete') {
        this.$confirm('确定要删除吗?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(async () => {
          await deleteJob({jobId: row.jobId});
          this.flowList.splice(index, 1);
        })
      }
    },
    createFlow({template}) {
      this.$refs.flowTemplateSelector.close();
      this.curRow = null;
      let data = deepCopy(FLOW_DATA);
      data.name = template.name;
      data.FlowConfig.templateId = template.id
      data.FlowConfig.stepGroups = template.step.map(steps => ({
        name: steps[0],
        steps: [steps.map(name => ({
          name
        }))]
      }))
      this.$refs.flowCreator.open(data);
    },
    pageChange(page) {
      this.loadData(page)
    },
    reloadData() {
      this.loadData(this.page);
    },
    loadData(page = 1, sort = this.sortBy) {
      return getJobList({
        scope: 'all',
        page,
        sort,
        row: this.pageSize
      }).then(({obj} = {obj: []}) => {
        this.rowCount = obj.total;
        this.flowList = obj.data.map(o => ({
          ...o,
          iscollect: o.iscollect === '1',
          buildTime: dayjs(o.timestamp).format('YYYY-MM-DD HH:mm:ss')
        }));
      })
    },
    doColumnEvent({event, payload}) {
          console.log(payload);
      switch(event) {
        case 'show-build-history':
          this.$router.push({
            name: 'BuildHistory',
            params: {
              id: payload
            }
          })
          break;
        default:
          break;
      }
    },
    save({FlowBaseInfo, FlowConfig, FlowTriggerConfig, FlowVarAndCache}) {
      console.log(FlowBaseInfo, FlowConfig, FlowTriggerConfig, FlowVarAndCache)
      if(!this.curRow) {
        ceateJob({
          jobName: FlowBaseInfo.name,
          pipeline: '',
          environment: FlowBaseInfo.env,
          label: FlowBaseInfo.tags.join("，"),
          settingId:FlowConfig.settingId,
          templateId:FlowConfig.templateId,
          groupId: FlowBaseInfo.groupId
        }).then(() => {
          this.reloadData();
          this.$refs.flowCreator.close();
        })
      }else {
          if(this.btnState=='view'){
              updateJob({
              jobId:this.curRow.jobId,
                jobName: FlowBaseInfo.name,
                pipeline: '',
                environment: FlowBaseInfo.env,
                label: FlowBaseInfo.tags.join("，"),
                settingId:FlowConfig.settingId,
                templateId:FlowConfig.templateId,
                groupId: FlowBaseInfo.groupId
            }).then(() => {
            this.reloadData();
            this.$refs.flowCreator.close();
            })
          }else if(this.btnState=='copy'){
              ceateJob({
            jobName: FlowBaseInfo.name,
            pipeline: '',
            environment: FlowBaseInfo.env,
            label: FlowBaseInfo.tags.join("，"),
            settingId:FlowConfig.settingId,
            templateId:FlowConfig.templateId,
            groupId: FlowBaseInfo.groupId
            }).then(() => {
            this.reloadData();
            this.$refs.flowCreator.close();
            })
          }
          
      }
    }
  },
  mounted(){
    console.log(3)
    if(sessionStorage.getItem('taskData')){
        console.log(1)
        this.onCommand({cmd:'view',row:JSON.parse(sessionStorage.getItem('taskData'))})
        sessionStorage.removeItem('taskData')
    }else{
        console.log(2)
    }
  },
  watch:{
    $route:{
      handler(val,oldval){
        console.log(val);//新路由信息
        console.log(oldval);//老路由信息
        if(oldval.name=='BuildHistory'){
            if(this.$route.params.data){
                this.onCommand({cmd:'view',row:this.$route.params.data})
            }
        }
      },
      // 深度观察监听
      deep: true
    }
  },
  created() {
    this.loadData()
    getGroupList().then(({obj}) => {
      this.groups = obj;
    })
    
    // let localData = localStorage.getItem('flowListData1');
    // if(!localData) {
    //   localData = [{
    //     id: '1',
    //     jobName: '仿真项目-自动化部署',
    //     status: '异常',
    //     stage: '4次',
    //     triggerInfo: 'git',
    //     env: 'linux',
    //     createdBy: '王毅',
    //     created: '2022-04-5 13:23:47',
    //     startTime: '2022-04-15 16:10:23',
    //     groupId: 1,
    //     favorite: false,
    //     FlowBaseInfo: {
    //       name: '自动化',
    //       flowID: 'jdaie832kelad',
    //       env: 'normal',
    //       groupID: 1
    //     },
    //     FlowConfig: {
    //       stepGroups: [
    //         {
    //           name: '构建',
    //           has_run: true,
    //           success: true,
    //           steps: [
    //             [
    //               {name: 'Java 构建上传'}, 
    //               {name: 'JavaScript 代码扫描'}
    //             ], 
    //             [
    //               {name: 'PHP Metrics 静态扫描'}
    //             ],
    //             [
    //               {name: 'Android 单元测试'}
    //             ]
    //           ]
    //         }, 
    //         {
    //           name: '部署',
    //           has_run: true,
    //           success: false,
    //           steps: [
    //             [
    //               {name: 'Python 代码安全扫描'},
    //               {name: '主机部署'} 
    //             ], 
    //             [
    //               {name: 'Android 代码扫描'}
    //             ]
    //           ]
    //         }
    //       ]
    //     },
    //     FlowTriggerConfig: {
    //       triggerMode: 1,
    //       triggerWeekDay: [],
    //       startTime: '',
    //       endTime: '',
    //       intervalTime: 5,
    //       isWebhookTriggerOn: false,
    //       isTimerTriggerOn: false,
    //     },
    //     FlowVarAndCache: {
    //       charVarList: [],
    //       runVarList: []
    //     }
    //   },{
    //     id: '2',
    //     jobName: '大数据分析系统-自动部署+自动测试',
    //     status: '正常',
    //     stage: '6次',
    //     triggerInfo: 'svn',
    //     env: 'Windows',
    //     createdBy: '李大光',
    //     created: '2022-04-15 13:23:47',
    //     startTime: '2022-04-20 16:10:23',
    //     groupId: 2,
    //     favorite: false,
    //     FlowBaseInfo: {
    //       name: '自动化',
    //       flowID: 'jdaie832kelad',
    //       env: 'normal',
    //       groupID: 1
    //     },
    //     FlowConfig: {
    //       stepGroups: [
    //         {
    //           name: '构建',
    //           has_run: true,
    //           success: false,
    //           steps: [
    //             [
    //               {name: 'Java 构建上传'}, 
    //               {name: 'JavaScript 代码扫描'}
    //             ], 
    //             [
    //               {name: 'PHP Metrics 静态扫描'}
    //             ],
    //             [
    //               {name: 'Android 单元测试'}
    //             ]
    //           ]
    //         }, 
    //         {
    //           name: '部署',
    //           has_run: false,
    //           success: false,
    //           steps: [
    //             [
    //               {name: 'Python 代码安全扫描'},
    //               {name: '主机部署'} 
    //             ], 
    //             [
    //               {name: 'Android 代码扫描'}
    //             ]
    //           ]
    //         }
    //       ]
    //     },
    //     FlowTriggerConfig: {
    //       triggerMode: 1,
    //       triggerWeekDay: [],
    //       startTime: '',
    //       endTime: '',
    //       intervalTime: 5,
    //       isWebhookTriggerOn: false,
    //       isTimerTriggerOn: false,
    //     },
    //     FlowVarAndCache: {
    //       charVarList: [],
    //       runVarList: []
    //     }
    //   },{
    //     id: '3',
    //     jobName: '高清视频预览系统-性能测试',
    //     status: '正常',
    //     stage: '4次',
    //     triggerInfo: 'svn',
    //     env: 'Windows',
    //     createdBy: '王明',
    //     created: '2022-04-18 13:23:47',
    //     startTime: '2022-04-21 16:10:23',
    //     groupId: 1,
    //     favorite: false,
    //     FlowBaseInfo: {
    //       name: '自动化',
    //       flowID: 'jdaie832kelad',
    //       env: 'normal',
    //       groupID: 1
    //     },
    //     FlowConfig: {
    //       stepGroups: [
    //         {
    //           name: '构建',
    //           has_run: false,
    //           success: false,
    //           steps: [
    //             [
    //               {name: 'Java 构建上传'}, 
    //               {name: 'JavaScript 代码扫描'}
    //             ], 
    //             [
    //               {name: 'PHP Metrics 静态扫描'}
    //             ],
    //             [
    //               {name: 'Android 单元测试'}
    //             ]
    //           ]
    //         }, 
    //         {
    //           name: '部署',
    //           has_run: false,
    //           success: false,
    //           steps: [
    //             [
    //               {name: 'Python 代码安全扫描'},
    //               {name: '主机部署'} 
    //             ], 
    //             [
    //               {name: 'Android 代码扫描'}
    //             ]
    //           ]
    //         }
    //       ]
    //     },
    //     FlowTriggerConfig: {
    //       triggerMode: 1,
    //       triggerWeekDay: [],
    //       startTime: '',
    //       endTime: '',
    //       intervalTime: 5,
    //       isWebhookTriggerOn: false,
    //       isTimerTriggerOn: false,
    //     },
    //     FlowVarAndCache: {
    //       charVarList: [],
    //       runVarList: []
    //     }
    //   },{
    //     id: '4',
    //     jobName: '智能机器人系统-功能测试',
    //     status: '正常',
    //     stage: '8次',
    //     triggerInfo: 'svn',
    //     env: 'Windows',
    //     createdBy: '王刚',
    //     created: '2022-04-18 13:23:47',
    //     startTime: '2022-04-21 16:10:23',
    //     groupId: 1,
    //     favorite: false,
    //     FlowBaseInfo: {
    //       name: '自动化',
    //       flowID: 'jdaie832kelad',
    //       env: 'normal',
    //       groupID: 1
    //     },
    //     FlowConfig: {
    //       stepGroups: [
    //         {
    //           name: '构建',
    //           has_run: true,
    //           success: true,
    //           steps: [
    //             [
    //               {name: 'Java 构建上传'}, 
    //               {name: 'JavaScript 代码扫描'}
    //             ], 
    //             [
    //               {name: 'PHP Metrics 静态扫描'}
    //             ],
    //             [
    //               {name: 'Android 单元测试'}
    //             ]
    //           ]
    //         }, 
    //         {
    //           name: '部署',
    //           has_run: true,
    //           success: true,
    //           steps: [
    //             [
    //               {name: 'Python 代码安全扫描'},
    //               {name: '主机部署'} 
    //             ], 
    //             [
    //               {name: 'Android 代码扫描'}
    //             ]
    //           ]
    //         }
    //       ]
    //     },
    //     FlowTriggerConfig: {
    //       triggerMode: 1,
    //       triggerWeekDay: [],
    //       startTime: '',
    //       endTime: '',
    //       intervalTime: 5,
    //       isWebhookTriggerOn: false,
    //       isTimerTriggerOn: false,
    //     },
    //     FlowVarAndCache: {
    //       charVarList: [],
    //       runVarList: []
    //     }
    //   }]
    //   localStorage.setItem('flowListData', JSON.stringify(localData))
    // }else {
    //   localData = JSON.parse(localData);
    // }
    // localData.forEach(row => {
    //   let groups = row.FlowConfig.stepGroups;
    //   row.runingIndex = groups.map(o => o.has_run).lastIndexOf(true);
    //   row.runingIndex = Math.max(row.runingIndex, 0);
    //   row.runingResult = groups[row.runingIndex].success;
    //   row.runSteps = groups.map(o => o.name);
    // })
    // this.flowList = localData;
  }
}
</script>

<style lang="less" scoped>
.my-flow{
  padding: 20px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  .header-bar{
    display: flex;
    align-items: center;
    .title{
      flex: 1;
      font-size: 16px;
      font-weight: 600;
    }
    .right-group{
      display: flex;
      width: 600px;
      justify-content: flex-end;
      align-items: center;
      >.search-input{
        width: 200px;
      }
      >.icon-btn{
        font-size: 16px;
        margin-left: 20px;
        cursor: pointer;
        &:hover{
          color: #3DA8F5;
        }
      }
      /deep/ .el-divider--vertical{
        margin: 0 20px;
      }
    }
  }
  .main-area{
    flex: 1;
    overflow: hidden;
    /deep/ .el-tabs{
      height: 100%;
      padding-top: 10px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      .el-tabs__header{
        display: none;
      }
      .el-tabs__content{
        flex: 1;
        overflow: hidden;
        .el-tab-pane{
          display: flex;
          flex-direction: column;
          box-sizing: border-box;
          height: 100%;
          width: 100%;
          overflow: hidden;
          .pagination-wrapper{
            text-align: right;
          }
        }
      }
    }
    .el-icon-setting{
      font-size: 18px;
      cursor: pointer;
      &:hover{
        color: #3DA8F5;
      }
    }
    .icon-btn{
      color: #ccc;
      cursor: pointer;
      margin-left: 10px;
      font-size: 18px;
      &:hover{
        color: #3DA8F5;
      }
      &.el-icon-star-on{
        color: #3DA8F5;
        transform: scale(1.2);
      }
    }
  }
}
</style>

<style lang="less">
.drop-down-sort-selector{
  .el-dropdown-menu__item{
    >i{
      color: #3DA8F5;
      visibility: hidden;
    }
    &.checked>i{
      visibility: visible;
    }
  }
}

.popover-card-wrapper{
  padding: 0;
  .popover-card{
    .el-card__body{
      padding: 0;
      >div{
        height: 30px;
        line-height: 30px;
        padding: 0 20px;
      }
      .card-title{
        font-size: 14px;
        text-align: center;
        border-bottom: 1px solid #ccc;
      }
      .card-subtitle{
        font-size: 14px;
      }
      .card-footer{
        text-align: right;
        margin: 20px 0 20px 0;
      }
    }
  }
}

.table-column-setting-popover{
  width: 180px;
  padding: 0;
  ul>li{
    display: flex;
    align-items: center;
    list-style: none;
    line-height: 36px;
    padding: 0 10px;
    margin: 0;
    font-size: 14px;
    color: #606266;
    outline: 0;
    &:not(.header){
      cursor: pointer;
      &:hover{
        background-color: #ecf5ff;
        color: #66b1ff;
      }
    }
    >span{
      flex: 1;
      padding: 0 10px;
    }
  }
}
</style>