<template>
    <div></div>
  <!-- <iframe :src="url" frameborder="0" class="iframe"></iframe> -->
</template>

<script>
export default {
  data() {
    return {
      url: window.__testResultUrl
    }
  },
  mounted() {
    // window.open(this.url,'_blank')
  },
}
</script>

<style lang="less" scoped>
.iframe{
  height: 100%;
  width: 100%;
}
</style>