<template>
  <div class="build-history-detail">
    <div class="step" v-for="(step, i) of steps" :key="i">
      <div class="step-name">{{step.name}}</div>
      <div
        class="task"
        v-for="(task, j) of step.tasks"
        :key="j"
        :class="{
          error: task.hasRun && !task.success,
          waitting: !task.hasRun,
          success: task.success
        }"
      >
        <div class="card-header">
          <i
            :class="{
            'el-icon-error': task.hasRun && !task.success,
            'el-icon-success': task.success,
            'el-icon-timer': !task.hasRun
          }"
          ></i>
          {{task.name}}
        </div>
        <div class="result" v-if="task.hasRun && !task.success">
          <h3>运行失败</h3>
          <div>运行失败，请查看日志！</div>
        </div>
        <div class="result" v-if="task.success">
          <h3>运行成功！</h3>
        </div>
        <div class="result" v-if="!task.hasRun">
          <h3>等待运行</h3>
        </div>
        <div class="card-footer">
          <div class="button-group">
            <el-button type="text" @click="__rebuild">
              <i class="el-icon-refresh"></i>重试
            </el-button>
            <el-button type="text" @click="__viewLog">
              <i class="el-icon-tickets"></i>查看日志
            </el-button>
          </div>
          <span>{{task.times}}</span>
        </div>
      </div>
    </div>
    <journalVue :dialogState="jobState" @dialogDone="dialogDone" :dialogData="journalData" />
  </div>
</template>

<script>
import {
  getJobBuildLog,
  buildJob,
  getJob
} from '@/assets/js/api'
import journalVue from '@/components/common/journal'
export default {
  name: 'BuildHistoryDetail',
  props: {
    // jobId: {
    //   type: String,
    //   required: true
    // },
    jobName: {
      type: String,
      required: true
    },
    steps: {
      type: Array,
      required: true
    }
  },
  components: { journalVue },
  data() {
      return {
          jobData : null,
          jobState : false,
          journalData : null,
          newJobId:null,
    }
  },
  methods: {
    async __rebuild() {
      await buildJob({jobName: this.jobName});
      this.$message.success('操作成功，已开始运行');
    },
    dialogDone(val){
        this.jobState = val;
    },
    __viewLog() {
        this.jobData= null;
      console.log(this.$route.params.id,this.jobName)
      this.newJobId= this.$route.params.id;
      this.getJobData();
      
    },
    async getJobData(){
        // console.log(this.jobId)
        var data = await getJob({jobId: this.newJobId});
        console.log(data)
        this.jobData=data.obj;
        setTimeout(()=>{
            getJobBuildLog({jobName: this.jobData.jobName,number:this.jobData.number}).then(({obj}) => {
            // console.log(obj)
                this.jobState = true;
                // console.log(typeof obj,obj.indexOf('\r\n'),obj.split('\r\n'));
                var strArr= obj.split('\r\n');
                // let str=''
                // strArr.map((item)=>{
                //     str+=(item + '<br />')
                // })
                this.journalData = strArr;
            })
        },500)
    }
  },
  mounted(){
      
  }
}
</script>

<style lang="less" scoped>
.build-history-detail {
  display: flex;
  height: 100%;
  overflow-x: auto;
  padding: 20px;
  box-sizing: border-box;
  font-size: 12px;
  .step {
    width: 250px;
    &:not(:last-child) {
      padding-right: 20px;
    }
    .step-name {
      color: #aaa;
      padding-bottom: 10px;
    }
    .task {
      background: #fff;
      border-radius: 4px;
      border-top: 4px solid #fff;
      padding: 10px;
      &:not(:last-child) {
        margin-bottom: 20px;
      }
      .card-header {
        font-size: 14px;
        > i {
          margin-right: 10px;
        }
      }
      .result {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        height: 80px;
        text-align: center;
        h3 {
          font-weight: normal;
          font-size: 12px;
        }
        div {
          margin-top: 5px;
          font-size: 12px;
          color: #ccc;
        }
      }
      .card-footer {
        display: flex;
        .button-group {
          /deep/ .el-button {
            padding: 0;
            margin-right: 10px;
            i {
              margin-right: 5px;
            }
          }
        }
        > span {
          flex: 1;
          text-align: right;
        }
      }
      &.error {
        border-top-color: red;
        .card-header > i,
        .result > h3 {
          color: red;
        }
      }
      &.waitting {
        border-top-color: lightgray;
        .card-header > i,
        .result > h3 {
          color: lightgray;
        }
      }
      &.success {
        border-top-color: lightgreen;
        .card-header > i,
        .result > h3 {
          color: lightgreen;
        }
      }
    }
  }
}
</style>