<template>
  <div class="build-history-list">
    <el-table 
      height="100%" 
      width="100%"
      :data="list"
      :stripe="true"
      :border="true"
    >
      <el-table-column prop="jobName" label="流水线名称"></el-table-column>
      <el-table-column prop="triggers" label="触发信息"></el-table-column>
      <el-table-column prop="timestamp" label="构建时间"></el-table-column>
      <el-table-column prop="keeptime" label="持续时间（ms）"></el-table-column>
      <el-table-column prop="remake" label="备注"></el-table-column>
      <el-table-column prop="log" label="构建日志">
        <template slot-scope="{row}">
          <span>{{row.log | lengthLimit}}</span>
          <template v-if="row.log && row.log.length > 30">
            <span>...</span>
            <el-popover
              placement="right"
              width="300"
              popper-class="log-viewer-popper"
              trigger="click">
              <pre class="log-wrapper">
                {{row.log}}
              </pre>
              <el-button slot="reference" type="text">查看完整内容</el-button>
            </el-popover>
          </template>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import {getHistoryJobList} from '@/assets/js/api'
import dayjs from 'dayjs'
const LENGTH_LIMIT = 30
export default {
  name: 'BuildHistoryList',
  filters: {
    lengthLimit(v, len = LENGTH_LIMIT) {
      if(v) {
        return (v + '').slice(0, len);
      }
      return ''
    }
  },
//   props: {
//     jobId: {
//       type: String,
//       required: true
//     }
//   },
  data() {
    return {
      LENGTH_LIMIT,
      list: [],
      jobId: null,
    }
  },
  watch: {
    // jobId: {
    //   handler(jobId) {
    //     if(jobId) {
    //       getHistoryJobList({jobId}).then(({obj}) => {
    //         this.list = obj.map(o => ({
    //           ...o,
    //           timestamp: dayjs(o.timestamp).format('YYYY-MM-DD HH:mm:ss')
    //         }));
    //       })
    //     }
    //   },
    //   immediate: true
    // }
  },
  mounted(){
      this.jobId=this.$route.params.id;
      getHistoryJobList({jobId:this.jobId}).then(({obj}) => {
        this.list = obj.map(o => ({
          ...o,
          timestamp: dayjs(o.timestamp).format('YYYY-MM-DD HH:mm:ss')
        }));
      })
  }
}
</script>

<style lang="less" scoped>
.build-history-list{
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  font-size: 12px;
}
</style>

<style lang="less">
.log-viewer-popper{
  width: auto !important;
  .log-wrapper{
    // white-space: normal;
    word-break: break-all;
    font-size: 12px;
    max-height: 500px;
    overflow-y: auto;
  }
}
</style>