<template>
  <div class="flow-config-wrapper">
    <div class="flow-item flow-source-wrapper">
      <div class="name">自动化源</div>
      <div class="flow-item-content">
        <div class="flow-source"></div>
        <div class="btn-append-flow-source">
          <i class="el-icon-plus"></i>
          添加自动化源
          <!-- {{data.stepGroups}}---{{data.settingId}}----{{data.templateId}} -->
        </div>
      </div>
    </div>
    <template v-for="(stepGroup, i) of data.stepGroups">
      <div class="split-line" :key="`line-${i}`">
        <el-tooltip content="添加阶段" placement="top">
          <i class="el-icon-circle-plus" @click="__newTask(i, null, null, 'before')"></i>
        </el-tooltip>
      </div>
      <div class="flow-item" :key="`item-${i}`">
        <div class="name">{{stepGroup.name}}</div>
        <div class="flow-item-content">
          <div class="step-box">
            <div class="step-item" v-for="(steps, j) of stepGroup.steps" :key=j>
              <div class="step-icon"><i class="el-icon-lightning"></i></div>
              <div class="step-name" v-for="(step, k) of steps" :key="k" @click="__showConfig(step, i, j, k)">
                <span>{{step.name}}</span>
                <el-tooltip content="串行任务" placement="top">
                  <i class="el-icon-circle-plus insert-btn" @click.stop="__newTask(i, j, k, 'before')"></i>
                </el-tooltip>
                <el-tooltip content="串行任务" placement="top">
                  <i class="el-icon-circle-plus append-btn" @click.stop="__newTask(i, j, k, 'after')"></i>
                </el-tooltip>
              </div>
            </div>
            <div class="step-item step-add-btn-wrapper">
              <div class="step-name" @click="__newTask(i, -1, null, 'after')"><i class="el-icon-circle-plus"></i>并行任务</div>
            </div>
          </div>
        </div>
      </div>
    </template>
    <div class="split-line">
      <el-tooltip content="添加阶段" placement="top">
        <i class="el-icon-circle-plus" @click="__newTask(data.stepGroups.length - 1, null, null, 'after')"></i>
      </el-tooltip>
    </div>
    <div class="flow-item">
      <div class="name">新阶段</div>
    </div>
    <flow-step-selector ref="flowStepSelector" @confirm="__appendConfirm"/>
    <el-drawer
      title="我是标题"
      :visible.sync="isConfigShow"
      :modal="false"
      direction="rtl"
      size="600px"
      class="task-config-selector-drawer"
    >
      <div slot="title" class="title">
        任务设置
       <el-popconfirm
          title="确定删除该任务吗？"
          @onConfirm="__removeTask"
        >
          <i class="el-icon-delete" slot="reference"></i>
        </el-popconfirm>
      </div>
      <div class="task-config-main">
        <el-form :model="curTask" ref="taskForm">
          <el-form-item label="项目名称">
            {{projectName}}
          </el-form-item>
          <el-form-item label="项目列表" prop="dataList">
            <!-- <el-input v-model="curTask.instanceName"></el-input> -->
            <el-select @change="selectChange" v-model="curTask.dataList" placeholder="项目列表">
                <el-option :label="item.projectName" :value="item.id" v-for="(item,index) in taskList" :key="index"></el-option>
                <!-- <el-option label="项目1" value="项目1"></el-option>
                <el-option label="项目2" value="项目2"></el-option> -->
            </el-select>
          </el-form-item>
          <el-form-item label="开发语言" prop="language">
            <el-select @change="selectChange" v-model="curTask.language" placeholder="开发语言">
                <el-option label="java" value="java"></el-option>
                <el-option label="node" value="node"></el-option>
            </el-select>
          </el-form-item>


          <el-form-item v-if="divIsShow" label="项目名称">
            <el-input v-model="curTask.instanceName"></el-input>
          </el-form-item>
          <el-form-item v-if="divIsShow" label="svn地址" prop="version">
            <el-input v-model="curTask.version"></el-input>
          </el-form-item>
          <el-form-item v-if="divIsShow" label="svn账号" prop="srcFolderPath">
            <el-input v-model="curTask.folderPath"></el-input>
          </el-form-item>
          <el-form-item v-if="divIsShow" label="svn密码" prop="codeFormat">
            <el-input v-model="curTask.codeFormat"></el-input>
          </el-form-item>
          <el-form-item v-if="divIsShow" label="svn_credentialsId" prop="distFolderPath">
            <el-input v-model="curTask.distFolderPath"></el-input>
          </el-form-item>

          
          <el-form-item v-if="divIsShow" label="项目访问端口" prop="port">
            <el-input v-model="curTask.port"></el-input>
          </el-form-item>
          <el-form-item v-if="divIsShow" label="docker端口" prop="dockerPort">
            <el-input v-model="curTask.dockerPort"></el-input>
          </el-form-item>
          <el-form-item v-if="divIsShow" label="项目版本号" prop="edition">
            <el-input v-model="curTask.edition"></el-input>
          </el-form-item>
          <el-form-item v-if="divIsShow" label="项目jar包位置" prop="jarPosition">
            <el-input v-model="curTask.jarPosition"></el-input>
          </el-form-item>
          <el-form-item v-if="divIsShow" label="项目war包位置" prop="warPosition">
            <el-input v-model="curTask.warPosition"></el-input>
          </el-form-item>
          <el-form-item v-if="divIsShow" label="docker容器id" prop="dockerID">
            <el-input v-model="curTask.dockerID"></el-input>
          </el-form-item>
          <el-form-item v-if="divIsShow" label="项目说明" prop="explain">
            <el-input v-model="curTask.explain"></el-input>
          </el-form-item>
          <el-form-item v-if="divIsShow" style="text-align:right;margin-bottom:0px;">
            <el-button type="primary" @click='closedialog'>参数管理</el-button>
            </el-form-item>
        </el-form>        
      </div>
    </el-drawer>
  </div>
</template>

<script>
import FlowStepSelector from './FlowStepSelector'
import {
  jobGetListAll,
  jobGetOne,
} from '@/assets/js/api'
export default {
  name: 'FlowConfig',
  components: {FlowStepSelector},
  props: {
    data: {
      required: true,
      type: Object
    },
    projectName: {
      type: String
    }
  },
  data() {
    return {
      stepIndex: null,
      taskRowIndex: -1,
      taskColIndex: -1,
      insertDirection: '',
      isConfigShow: false,
      curTask: {
          dataList:'',
          language:'',
        instanceName:'',
        version:'',
        folderPath:'',
        codeFormat:'',
        distFolderPath:'',
        port:'',
        dockerPort:'',
        edition:'',
        jarPosition:'',
        warPosition:'',
        dockerID:'',
        explain:'',
      },
      curTaskIndex: {i: -1, j: -1, k: -1},
      languages: {
        java: 'Java',
        nodejs: 'Node.js',
        python: 'Python',
        csharp: 'C#',
        objectiveC: 'Objective C',
        php: 'PHP',
        perl: 'perl'
      },
      divIsShow: false,
      taskList:[]
    }
  },
//   created(){
//       this.curTask= {
//         instanceName:'',
//         version:'',
//         folderPath:'',
//         codeFormat:'',
//         distFolderPath:'',
//         port:'',
//         dockerPort:'',
//         edition:'',
//         jarPosition:'',
//         warPosition:'',
//         dockerID:'',
//         explain:'',
//       }
//   },
  mounted(){
      this.taskGetList();
      console.log(this.curTask)
  },
  methods: {
    async taskGetList(){
        var data = await jobGetListAll({});
        if(data.code=='1000'){
            this.taskList=data.obj;
        }
    },
    closedialog(){
        this.$emit('closeDialog',false)
    },
    async selectChange(){
        if(this.curTask.dataList && this.curTask.language){
            this.divIsShow=true;
            var data = await jobGetOne({id:this.curTask.dataList})
            console.log(data)
            if(data.code=='1000'){
                // setTimeout(()=>{
                    this.data.settingId=data.obj.id;
                    this.curTask.instanceName=data.obj.projectName;
                    this.curTask.version=data.obj.svnUrl;
                    this.curTask.folderPath=data.obj.svnUsername;
                    this.curTask.codeFormat=data.obj.svnPassword;
                    this.curTask.distFolderPath=data.obj.svnCredentialsId;
                    this.curTask.port=data.obj.projectPort;
                    this.curTask.dockerPort=data.obj.dockerPort;
                    this.curTask.edition=data.obj.projectVersion;
                    this.curTask.jarPosition=data.obj.projectUrlJar;
                    this.curTask.warPosition=data.obj.projectUrlWar;
                    this.curTask.dockerID=data.obj.dockerId;
                    this.curTask.explain=data.obj.projectDescribe;
                // },2000)
            }
        }
    },
    __newTask(stepIndex, taskRowIndex, taskColIndex, insertDirection) {
      this.stepIndex = stepIndex;
      this.taskRowIndex = taskRowIndex;
      this.taskColIndex = taskColIndex;
      this.insertDirection = insertDirection;
      this.$refs.flowStepSelector.open();
    },
    __appendConfirm({task, group}) {
      this.$refs.flowStepSelector.close();
      let {stepIndex, taskRowIndex, taskColIndex, insertDirection} = this;
      let targetGroup = this.data.stepGroups[stepIndex];
      if(taskRowIndex === null && taskColIndex === null) {
        // 都为null代表新建一个组
        this.data.stepGroups.splice(stepIndex + +(insertDirection === 'after'), 0, {
          name: group.name,
          steps: [[task]]
        })
      }else if(taskColIndex === null) {
        // 添加并行任务
        targetGroup.steps.push([task]);
      }else {
        targetGroup.steps[taskRowIndex].splice(taskColIndex + +(insertDirection === 'after'), 0, task)
      }
    },
    __showConfig(task, i, j, k) {
        console.log(task)
        if(task.name=='checksvn代码'){
            this.getSettingData();
        }
      this.curTask.name = task.name;
      this.curTaskIndex = {i, j, k};
      this.isConfigShow = true;
    },
    async getSettingData(){
        var data = await jobGetOne({id:this.data.settingId})
        console.log(data)
        if(data.code=='1000'){
            if(data.obj){
                this.divIsShow=true;
                let obj=data.obj;
                this.curTask.dataList=obj.id;
                this.curTask.language='java';
                this.curTask.instanceName=data.obj.projectName;
                this.curTask.version=data.obj.svnUrl;
                this.curTask.folderPath=data.obj.svnUsername;
                this.curTask.codeFormat=data.obj.svnPassword;
                this.curTask.distFolderPath=data.obj.svnCredentialsId;
                this.curTask.port=data.obj.projectPort;
                this.curTask.dockerPort=data.obj.dockerPort;
                this.curTask.edition=data.obj.projectVersion;
                this.curTask.jarPosition=data.obj.projectUrlJar;
                this.curTask.warPosition=data.obj.projectUrlWar;
                this.curTask.dockerID=data.obj.dockerId;
                this.curTask.explain=data.obj.projectDescribe;
            }
            
        }
    },
    __removeTask() {
      const {i, j, k} = this.curTaskIndex;
      this.data.stepGroups[i].steps[j].splice(k, 1);
      if(this.data.stepGroups[i].steps[j].length === 0) {
        this.data.stepGroups[i].steps.splice(j, 1);
      }
      if(this.data.stepGroups[i].steps.length === 0) {
        this.data.stepGroups.splice(i, 1);
      }
      this.isConfigShow = false;
    }
  }
}
</script>

<style lang="less" scoped>
.flow-config-wrapper{
  display: flex;
  font-size: 0;
  flex-wrap: nowrap;
  overflow-x: auto;
  height: 100%;
  *{
    box-sizing: border-box;
  }
  >div{
    display: inline-block;
    height: 100%;
  }
  .split-line{
    position: relative;
    width: 0;
    border-right: 1px solid #d9d9d9;
    &:not(.first)::after{
      content: '';
      position: absolute;
      top: 120px;
      left: -20px;
      width: 42px;
      border-bottom: 1px solid #d9d9d9;
      z-index: 4;
    }
    &.first::after{
      content: '';
      position: absolute;
      top: 120px;
      left: 0px;
      width: 22px;
      border-bottom: 1px solid #d9d9d9;
      z-index: 4;
    }
    >i{
      position: absolute;
      top: 112px;
      left: -8px;
      z-index: 5;
      font-size: 16px;
      &:hover{
        color: #3DA8F5;
        cursor: pointer;
      }
    }
  }
  .flow-item{
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    padding: 0 20px;
    &.flow-source-wrapper{
      width: 300px;
    }
    .name{
      height: 50px;
      line-height: 50px;
      font-size: 14px;
    }
    .flow-item-content{
      flex: 1;
      .flow-source{
        margin-top: 50px;
      }
      .btn-append-flow-source{
        height: 40px;
        width: 100%;
        font-size: 14px;
        border: 1px solid #e5e5e5;
        border-radius: 20px;
        background: #fff;
        text-align: center;
        line-height: 40px;
        box-sizing: border-box;
        cursor: pointer;
        color: #3DA8F5;
        box-shadow: 0 2px 4px 0 rgba(38,38,38,.1);
        &:hover{
          box-shadow: 0 6px 18px 0 rgba(38,38,38,.1);
        }
      }
      .step-box{
        padding-top: 50px;
        .step-item{
          position: relative;
          top: -40px;
          display: flex;
          flex-wrap: nowrap;
          padding-top: 20px;
          border-bottom: 1px solid #d9d9d9;
          >div{
            position: relative;
            top: 20px;
            height: 40px;
            line-height: 40px;
            margin: 0 20px;
            font-size: 0;
            text-align: center;
            background: #fff;
            border-radius: 20px;
            box-sizing: border-box;
            border: 1px solid #fff;
            z-index: 5;
            &:hover{
              border-color: #3DA8F5;
              color: #3DA8F5;
            }
            &.step-icon{
              width: 40px;
              font-size: 14px;
              cursor: pointer;
            }
            &.step-name{
              padding: 0 20px;
              font-size: 14px;
              cursor: pointer;
              position: relative;
            }
          }
          &:not(:first-child) {
            border-left: 1px solid #d9d9d9;
            border-right: 1px solid #d9d9d9;
          }
          &:nth-last-child(2):not(:first-child) {
            border-radius: 0 0 10px 10px;
          }
          &.step-add-btn-wrapper{
            display: none;
          }
          .append-btn,.insert-btn{
            display: none;
          }
          &:not(.step-add-btn-wrapper):hover .step-name{
            >i.insert-btn{
              display: inline-block;
              position: absolute;
              left: -30px;
              top: 13px;
            }
            &:not(:last-child)>i.append-btn{
              display: none;
            }
            &:last-child>i.append-btn{
              display: inline-block;
              position: absolute;
              right: -28px;
              top: 13px;
            }
          }
        }
      }
      &:hover{
        .step-item{
          &:nth-last-child(2) {
            border-radius: 0 !important;
          }
          &.step-add-btn-wrapper{
            display: flex;
            border-radius: 0 0 10px 10px;
            justify-content: center;
            .step-name>i{
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}

.task-config-selector-drawer{
  top: 50px;
  /deep/ .el-drawer__header{
    border-bottom: 1px solid #d9d9d9;
    margin: 0;
    padding: 0 20px;
    height: 50px;
    line-height: 50px;
    .title{
      font-size: 14px;
      i{
        cursor: pointer;
        margin-left: 10px;
        &:hover{
          color: #3DA8F5;
        }
      }
    }
  }
  .task-config-main{
    padding: 20px;
    // height: 100%;
    // overflow: auto;
    // box-sizing: border-box;
  }
}

/deep/ .el-drawer{
    height: 100%;
}
/deep/ .el-drawer__body{
    height: calc(100% - 50px);
    padding-bottom: 40px;
    overflow-y: auto;
}
</style>
