<template>
  <div class="flow-base-info">
    <div class="setting-layout__sidebar">
      <ul class="at-nav">
        <li class="at-nav-item" 
          :class="{'at-nav-item-selected': tabIndex === 1}"
          @click="tabIndex=1"
        >
          <div class="at-nav-item-main">
            <span class="at-nav-item-label">变量</span>
          </div>
        </li>
      </ul>
    </div>
    <div class="setting-layout__content">
      <div class="content-title">
        <div class="title">变量</div>
        <div class="subtitle">通过定义环境变量实现流水线过程定制化，可以在执行过程的任何阶段使用这些变量</div>
      </div>
      <div class="content">
        <div class="title">
          <span>字符变量</span>
          <div>
            <el-input class="search-input" 
              prefix-icon="el-icon-search"
              placeholder="输入关键字搜索"
              v-model="keywords1"
            ></el-input>
            <el-button type="text" class="link-button" @click="newVar('charVarList')">
              <i class="el-icon-circle-plus"></i>新建变量
            </el-button>
          </div>
        </div>
        <div class="table-wrapper">
          <el-table
            :data="data.charVarData"
            :border="true"
            :stripe="true"
            max-height="300px"
          >
            <el-table-column prop="name" label="变量名称"></el-table-column>
            <el-table-column prop="defaultValue" label="默认值"></el-table-column>
            <el-table-column prop="name" label="操作">
              <template slot-scope="{row}">
                <i class="el-icon-delete" @click="removeFromList(row, 'charVarList')"></i>
              </template>
            </el-table-column>
          </el-table>
        </div>
        <div class="title">
          <span>字符变量</span>
          <div>
            <el-input class="search-input" 
              prefix-icon="el-icon-search"
              placeholder="输入关键字搜索"
              v-model="keywords2"
            ></el-input>
            <el-button type="text" class="link-button" @click="newVar('runVarList')">
              <i class="el-icon-circle-plus"></i>新建变量
            </el-button>
          </div>
        </div>
        <div class="table-wrapper">
          <el-table
            :data="data.runVarData"
            :border="true"
            :stripe="true"
            max-height="300px"
          >
            <el-table-column prop="name" label="变量名称"></el-table-column>
            <el-table-column prop="defaultValue" label="默认值"></el-table-column>
            <el-table-column prop="name" label="操作">
              <template slot-scope="{row}">
                <i class="el-icon-delete" @click="removeFromList(row, 'runVarList')"></i>
              </template>
            </el-table-column>
          </el-table>
        </div>
      </div>
    </div>
    <el-dialog 
      :visible.sync="isDialogShow"
      title="新建变量"
      append-to-body
      class="global-val-create-dialog"
      >
      <div class="row">
        <div class="col"><div class="label">变量名称</div></div>
        <div class="col"><div class="label">默认值</div></div>
        <div class="col action-col"><div class="label">操作</div></div>
      </div>
      <div class="row" v-for="(item, i) of tempVars" :key="i">
        <div class="col">
          <el-input class="input" v-model="item.name" placeholder="请输入变量名称"></el-input>
        </div>
        <div class="col">
          <el-input class="input" v-model="item.defaultValue" placeholder="请输入默认值"></el-input>
        </div>
        <div class="col action-col">
          <i class="el-icon-delete" @click="removeRow(i)"></i>
        </div>
      </div>
      <div class="row">
        <div>
          <el-button type="text" @click="addRow">
            <i class="el-icon-circle-plus"></i>
            新建变量
          </el-button>
        </div>
      </div>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="addAll">添加</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
export default {
  name: 'FlowVarAndCache',
  props: {
    data: {
      required: true,
      type: Object
    }
  },
  computed: {
    charVarData() {
      return this.filterData('charVarList', this.keywords1)
    },
    runVarData() {
      return this.filterData('runVarList', this.keywords2)
    }
  },
  data() {
    return {
      tabIndex: 1,
      keywords1: '',
      keywords2: '',
      isDialogShow: false,
      tempVars: [],
      createType: 'charVarList'
    }
  },
  methods: {
    inputEnter(i) {
      this.$nextTick(() => {
        this.$refs[`searchInput${i}`].focus()        
      });
    },
    filterData(propName, keywords) {
      if(keywords) {
        return this[propName]
          .filter(o => o.name.indexOf(keywords) > -1 || o.defaultValue.indexOf(keywords) > -1)
      }
      return this[propName]
    },
    newVar(varType) {
      this.createType = varType;
      this.tempVars = [{name: '', defaultValue: ''}];
      this.isDialogShow = true;
    },
    addRow() {
      this.tempVars.push({name: '', defaultValue: ''})
    },
    removeRow(i) {
      this.tempVars.splice(i, 1)
    },
    addAll() {
      if(this.tempVars.some(o => !o.name || !o.defaultValue)) {
        this.$message.warning('请填写内容，所有内容均为必填');
        return
      }
      this.data[this.createType].push(...this.tempVars);
      this.isDialogShow = false;
      this.tempVars = [];
    },
    removeFromList(row, type) {
      let i = this.data[type].indexOf(row);
      if(i > -1) {
        this.data[type].splice(i, 1)
      }
    }
  }
}
</script>

<style lang="less" scoped>
.flow-base-info{
  display: flex;
  width: 100%;
  height: 100%;
  padding: 20px 120px;
  box-sizing: border-box;
  justify-content: space-between;
  .setting-layout__sidebar {
    height: calc(100vh - 100px);
    width: 280px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    margin-right: 20px;
    background: #fff;
    .at-nav {
      margin-top: 8px;
      .at-nav-item {
        position: relative;
        list-style: none;
        margin: 8px 0;
        cursor: pointer;
        &::before {
          width: 2px;
          left: 0;
          bottom: 0;
          top: 0;
          -webkit-transition: all .4s cubic-bezier(.23,1,.32,1);
          transition: all .4s cubic-bezier(.23,1,.32,1);
          content: " ";
          position: absolute;
          z-index: 2
        }
        .at-nav-item-main {
          box-sizing: border-box;
          padding: 6px 20px;
          display: flex;
          justify-content: space-between;
          background: #fff;
          &:hover {
            background: #f7f7f7!important;
          }
        }
        &.at-nav-item-selected{
          &::before {
            background: #1b9aee;
          }
        }
      }
    }
  }
  .setting-layout__content {
    padding: 10px 0;
    height: calc(100vh - 100px);
    overflow-y: auto;
    flex: 1;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    background: #fff;
    box-sizing: border-box;
    .content-title{
      padding: 0 20px;
      border-bottom: 1px solid #e5e5e5;
      font-size: 16px;
      color: #6e6e6e;
      .subtitle{
        font-size: 12px;
        color: #8c8c8c;
        padding: 5px 0 10px 0;
      }
    }
    .content{
      padding: 0 20px;
      .title{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        >div{
          flex: 1;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          >.icon-btn{
            font-size: 14px;
            cursor: pointer;
            &:hover{
              color: #3DA8F5;
            }
          }
          >.search-input{
            width: 200px;
          }
          >.link-button{
            margin-left: 10px;
            font-size: 14px;
            i{
              margin-right: 5px;
            }
          }
        }
      }
      .table-wrapper{
        margin-top: 10px;
        padding-bottom: 10px;
        .el-icon-delete{
          cursor: pointer;
          &:hover{
            color: #1b9aee;
          }
        }
      }
    }
  }
}
</style>

<style lang="less">
.global-val-create-dialog{
  .el-dialog__body{
    padding: 0 20px 20px 20px;
    .row{
      display: flex;
      &:not(:first-child) {
        margin-top: 10px;
      }
      .col{
        &:not(.action-col) {
          flex: 1;
        }
        .label{
          padding: 5px 0;
        }
        &:not(:first-child){
          margin-left: 20px;
        }
        &.action-col{
          width: 60px;
          .el-icon-delete{
            cursor: pointer;
            &:hover{
              color: #1b9aee;
            }
          }
        }
      }
    }
  }
}
</style>