<template>
  <div class="flow-base-info">
    <div class="setting-layout__sidebar">
      <ul class="at-nav">
        <li class="at-nav-item at-nav-item-selected">
          <div class="at-nav-item-main"><span class="at-nav-item-label">自动化信息</span></div>
        </li>
      </ul>
    </div>
    <div class="setting-layout__content">
      <div class="content-title">自动化信息</div>
      <el-form :model="data" class="form-content">
        <el-form-item label="自动化名称">
          <el-input v-model="data.name"></el-input>
        </el-form-item>
        <el-form-item label="自动化ID">
          <el-input :disabled="true" v-model="data.flowID"></el-input>
        </el-form-item>
        <el-form-item label="环境">
          <el-select v-model="data.env" data-key="key">
            <el-option v-for="env of envs" :key="env.key" :label="env.name" :value="env.key"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="标签" v-model="data.env">
          <el-tag
            :key="tag"
            size="small"
            v-for="tag in data.tags"
            closable
            :disable-transitions="false"
            @close="handleClose(tag)">
            {{tag}}
          </el-tag>
          <el-input
            v-if="inputVisible"
            class="input-new-tag"
            v-model="inputValue"
            ref="saveTagInput"
            size="mini"
            @keyup.enter.native="handleInputConfirm"
            @blur="handleInputConfirm"
          >
          </el-input>
          <el-button v-else class="button-new-tag" size="mini" @click="showInput">新增标签</el-button>
        </el-form-item>
        <el-form-item label="分组">
          <el-select v-model="data.groupID" data-key="groupId">
            <el-option v-for="group of groups" :key="group.groupId" :label="group.name" :value="group.groupId"></el-option>
          </el-select>
        </el-form-item>
      </el-form>
    </div>
  </div>
</template>

<script>
import {getGroupList} from '@/assets/js/api'
export default {
  name: 'FlowBaseInfo',
  props: {
    data: {
      required: true,
      type: Object
    }
  },
  data() {
    return {
      envs: [{
        name: '无',
        key: ''
      }, {
        name: 'Linux',
        key: 'linux'
      }, {
        name: 'Windows',
        key: 'windows'
      }, {
        name: 'Android',
        key: 'android'
      }, {
        name: 'IOS',
        key: 'ios'
      }, {
        name: 'HarmanyOS',
        key: 'harmany'
      }],
      groups: [],
      inputVisible: false,
      inputValue: ''
    }
  },
  methods: {
    handleClose(tag) {
      this.data.tags.splice(this.data.tags.indexOf(tag), 1);
    },
    showInput() {
      this.inputVisible = true;
      this.$nextTick(() => {
        this.$refs.saveTagInput.$refs.input.focus();
      });
    },
    handleInputConfirm() {
      let inputValue = this.inputValue;
      if (inputValue) {
        this.data.tags.push(inputValue);
      }
      this.inputVisible = false;
      this.inputValue = '';
    }    
  },
  mounted() {
    getGroupList().then(({obj}) => {
      this.groups = obj
    })
  }
}
</script>

<style lang="less" scoped>
.flow-base-info{
  display: flex;
  width: 100%;
  height: 100%;
  padding: 20px 120px;
  box-sizing: border-box;
  justify-content: space-between;
  .setting-layout__sidebar {
    height: calc(100vh - 100px);
    width: 280px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    margin-right: 20px;
    background: #fff;
    .at-nav {
      margin-top: 8px;
      .at-nav-item {
        position: relative;
        list-style: none;
        margin: 8px 0;
        cursor: pointer;
        &::before {
          width: 2px;
          left: 0;
          bottom: 0;
          top: 0;
          -webkit-transition: all .4s cubic-bezier(.23,1,.32,1);
          transition: all .4s cubic-bezier(.23,1,.32,1);
          content: " ";
          position: absolute;
          z-index: 2
        }
        .at-nav-item-main {
          box-sizing: border-box;
          padding: 6px 20px;
        }
        &.at-nav-item-selected{
          &::before {
            background: #1b9aee;
          }
          .at-nav-item-main {
            background: #fff;
            &:hover {
              background: #f7f7f7!important;
            }
          }
        }
      }
    }
  }
  .setting-layout__content {
    padding: 10px 20px;
    height: calc(100vh - 100px);
    overflow-y: auto;
    flex: 1;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    background: #fff;
    box-sizing: border-box;
    .content-title{
      padding: 17px;
      border-bottom: 1px solid #e5e5e5;
      font-size: 14px;
      color: #6e6e6e;
    }
    .form-content{
      padding: 10px 17px;
      .el-tag + .el-tag {
        margin-left: 10px;
      }
      .button-new-tag {
        margin-left: 10px;
        height: 30px;
        line-height: 30px;
        padding-top: 0;
        padding-bottom: 0;
      }
      .input-new-tag {
        width: 90px;
        margin-left: 10px;
        vertical-align: bottom;
      }
    }
  }
}
</style>