<template>
  <el-dialog 
    :visible.sync="isDialogShow" 
    class="flow-creator"
    :show-close="false"
    fullscreen
  >
    <div slot="title" class="header">
      <span class="btn-back" @click="isDialogShow=false">
        <i class="el-icon-arrow-left"></i>返回
      </span>
      <div class="name-input"><el-input v-model="flowData.FlowBaseInfo.name" size="mini"/></div>
      <div class="tab-pane-header">
        <el-tabs v-model="tabName">
          <el-tab-pane label="基本信息" name="FlowBaseInfo"></el-tab-pane>
          <el-tab-pane label="流程配置" name="FlowConfig"></el-tab-pane>
          <el-tab-pane label="触发设置" name="FlowTriggerConfig"></el-tab-pane>
          <!-- <el-tab-pane label="变量和缓存" name="FlowVarAndCache"></el-tab-pane> -->
        </el-tabs>
      </div>
      <el-button type="default" class="btn-cancel" @click="close">取消</el-button>
      <el-button type="primary" class="btn-save" @click="__save">保存</el-button>
    </div>
    <div class="main">
      <component @closeDialog="closeDialog" :is="tabName" :data="flowData[tabName]" :project-name="flowData.FlowBaseInfo.name"/>
    </div>
  </el-dialog >
</template>

<script>
import FlowTriggerConfig from './FlowTriggerConfig'
import FlowBaseInfo from './FlowBaseInfo'
import FlowVarAndCache from './FlowVarAndCache'
import FlowConfig from './FlowConfig'
import {deepCopy} from '@/assets/js/utils'
export default {
  components: {FlowTriggerConfig, FlowBaseInfo, FlowVarAndCache, FlowConfig},
  data() {
    return {
      isDialogShow: false,
      tabName: 'FlowBaseInfo',
      flowData: {
        FlowBaseInfo: {name: ''},
        FlowConfig: {},
        FlowTriggerConfig: {},
        FlowVarAndCache: {}
      }
    }
  },
  methods: {
    open(obj) {
      this.tabName = 'FlowBaseInfo';
      this.flowData.FlowBaseInfo = deepCopy(obj.FlowBaseInfo);
      this.flowData.FlowConfig = deepCopy(obj.FlowConfig);
      console.log(obj.FlowConfig,'---',deepCopy(obj.FlowConfig))
      this.flowData.FlowTriggerConfig = deepCopy(obj.FlowTriggerConfig);
      this.flowData.FlowVarAndCache = deepCopy(obj.FlowVarAndCache);
      this.isDialogShow = true;
    },
    close(){
      this.isDialogShow = false;
    },
    __save() {
      this.$emit('save', this.flowData)
    },
    closeDialog(val) {
        console.log(val)
        this.isDialogShow=val;
        this.$emit('closeDialog',false)
    }
  }
}
</script>

<style lang="less" scoped>
.flow-creator{
  /deep/ .el-dialog__header{
    padding: 0;
    .header{
      display: flex;
      height: 50px;
      border-bottom: 1px solid #ccc;
      box-sizing: border-box;
      font-size: 14px;
      align-items: center;
      .btn-back{
        padding-left: 20px;
        cursor: pointer;
        &:hover{
          color: #3DA8F5;
        }
      }
      .name-input{
        margin-left: 40px;
      }
      .tab-pane-header{
        flex: 1;
        padding-left: 100px;
        margin-top: 25px;
      }
      .btn-save{
        margin-right: 20px;
      }
    }
  }
  /deep/ .el-dialog__body{
    padding: 0;
    .main{
      padding: 0;
      box-sizing: border-box;
      height: calc(100vh - 50px);
      width: 100%;
      background: #F0F0F0;
    }
  }
}
</style>