<template>
  <div>
    <el-drawer
      title=""
      :visible.sync="show"
      :modal="false"
      direction="rtl"
      size="600px"
      class="flow-step-selector-drawer"
    >
      <div slot="title" class="title">选择任务组</div>
      <div class="flow-step-selector-main">
        <div class="task-nav">
          <div class="task-nav-item" 
            :class="{selected: curGroup === group.tasks}"
            v-for="(group, i) of stepData" 
            :key="i"
            @click="__chooseGroup(group, i)"
          >{{group.name}}</div>
        </div>
        <div class="task-content">
          <div class="search-bar">
            <el-input v-model="keywords" placeholder="请输入关键字"></el-input>
          </div>
          <div class="task-group-warpper" ref="scrollWrapper" @scroll="__onScroll">
            <div class="task-group" ref="group" v-for="(group, i) of curGroup" :key="i">
              <div class="task-group-name">{{group.name}}</div>
              <div class="task-item-list">
                <div class="task-item" 
                  v-for="(task, j) of group.dataList" 
                  :key="j"
                  @click="__confirm(task, group)"
                >
                  <div class="icon-wrapper">
                    <i class="iconfont" :class="task.icon"></i>
                  </div>
                  <div class="name-area">
                    <el-tooltip :content="task.name" placement="top">
                      <div class="task-name">{{task.name}}</div>
                    </el-tooltip>
                    <el-tooltip :content="task.desc" placement="top">
                      <div class="task-desc">{{task.desc}}</div>
                    </el-tooltip>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </el-drawer>
  </div>
</template>

<script>
export default {
  name: 'FlowStepSelector',
  computed: {
    stepData() {
      return this.stepGroups.map(o => ({
        ...o,
        tasks: o.tasks.filter(p => !this.keywords || p.name.indexOf(this.keywords) > -1)
      })).filter(o => o.tasks.length)
    }
  },
  data() {
    return {
      show: false,
      keywords: '',
      stepGroups: [
          {
        name: '持续集成',
        tasks: [
          {name:'Jar自动化',dataList:[{name: '拉取代码', icon: 'icon-java', desc: 'Jar-svn代码'},{name: '自动编译', icon: 'icon-node-js', desc: 'Jar自动编译'}]},
          {name:'War自动化',dataList:[{name: '拉取代码', icon: 'icon-java', desc: 'War-svn代码'},{name: '自动编译', icon: 'icon-node-js', desc: 'War自动编译'}]},
        ]
      }, {
        name: '自动测试',
        tasks: [
          {name:'自动检查',dataList:[{name: '注释率检查', icon: 'icon-java', desc: '代码自动注释率检查'},{name: '静态分析', icon: 'icon-node-js', desc: '项目代码静态分析'}]},
          {name:'自动测试',dataList:[{name: '单元测试', icon: 'icon-java', desc: '单元测试'},{name: '集成测试', icon: 'icon-java', desc: '集成测试，查看结果'},{name: '性能测试', icon: 'icon-node-js', desc: '性能测试'},{name: '安全测试', icon: 'icon-node-js', desc: '安全测试'}]},
        ]
      },{
        name: '自动部署',
        tasks: [
          {name:'自动部署',dataList:[{name: '自动部署', icon: 'icon-java', desc: 'Jar自动部署'},{name: '自动部署', icon: 'icon-node-js', desc: 'War自动部署'}]},
        ]
      },
      
    //   {
    //     name: '自动测试',
    //     tasks: [
    //       {name:'单元测试',icon:'icon-node-js',desc:'单元测试'},
    //       {name:'集成测试',icon:'icon-node-js',desc:'集成测试'},
    //       {name:'性能测试',icon:'icon-node-js',desc:'性能测试'},
    //       {name:'安全测试',icon:'icon-node-js',desc:'安全测试'}
    //     ]
    //   }, {
    //     name: '自动构建',
    //     tasks: [
    //       {name:'Java 构建',icon:'icon-node-js',desc:'Java 构建，压缩包上传，用于脚本部署'},
    //       {name:'发布 Maven 二方库',icon:'icon-node-js',desc:'Maven 构建，并上传到 Maven 私服'}
    //     ]
    //   }, {
    //     name: '自动部署',
    //     tasks: [
    //       {name:'主机部署',icon:'icon-node-js',desc:'主机部署'},
    //       {name:'ECS应用部署',icon:'icon-node-js',desc:'ECS应用部署'},
    //       {name:'主机部署(无构建包)',icon:'icon-node-js',desc:'使用脚本发布到主机'}
    //     ]
    //   }
      ],
      scrollHeight: 0,
      curGroup: null,
    }
  },
  methods: {
    open() {
      this.show = true
    },
    close() {
      this.show = false
    },
    __chooseGroup(group, i) {
      this.curGroup = group.tasks;
      console.log(this.$refs.group,'---',i)
      this.$refs.group[i].scrollIntoView({
        // behavior: 'smooth'
      });
    },
    __onScroll() {
      let scrollTop = this.$refs.scrollWrapper.scrollTop;
      if(!this.scrollHeight) {
        this.scrollHeight = parseInt(getComputedStyle(this.$refs.scrollWrapper).height);
      }
      let winHeight = this.scrollHeight;
      this.stepData.reduce((last, now, i) => {
        let height = 40; // 组名称高度
        if(i > 0) {
          height += 20 // 第二组之后每组距离上组的边距20px;
        }
        let rowCount = Math.ceil(now.tasks.length / 2);
        height += rowCount * 72 + (rowCount - 1) * 20 // 内容高度
        let offsetTop = last + height;
        if (winHeight + scrollTop - offsetTop > winHeight/2) {
          this.curGroup = this.stepData[i];
        }
        return offsetTop;
      }, 0)
    },
    __confirm(task, group) {
      this.$emit('confirm', {task, group});
    }
  },
  mounted() {
    this.curGroup = this.stepData[0].tasks;
    console.log(this.stepData)
  }
}
</script>

<style lang="less" scoped>
.flow-step-selector-drawer{
  top: 50px;
  /deep/ .el-drawer__header{
    border-bottom: 1px solid #d9d9d9;
    margin: 0;
    padding: 0 20px;
    height: 50px;
    line-height: 50px;
    .title{
      font-size: 14px;
    }
  }
  .flow-step-selector-main{
    display: flex;
    height: 100%;
    .task-nav{
      width: 100px;
      height: 100%;
      border-right: 1px solid #d9d9d9;
      font-size: 14px;
      .task-nav-item{
        padding: 10px 20px;
        cursor: pointer;
        &:hover, &.selected{
          color: #1F9AEF;
          background: #eee;
        }
      }
    }
    .task-content{
      flex: 1;
      height: 100%;
      padding: 0 20px;
      box-sizing: border-box;
      .search-bar{
        height: 50px;
        line-height: 50px;
      }
      .task-group-warpper{
        height: calc(100vh - 155px);
        overflow-y: auto;
        .task-group{
          &:not(:first-child) {
            margin-top: 20px;
          }
          font-size: 14px;
          .task-group-name{
            color: #6c6c6c;
            height: 40px;
            line-height: 40px;
          }
          .task-item-list{
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            .task-item{
              display: flex;
              width: 200px;
              border: 1px solid #ccc;
              padding: 10px;
              box-sizing: border-box;
              border-radius: 4px;
              cursor: pointer;
              &:not(:nth-child(2n)) {
                margin-right: 20px;
              }
              margin-top: 20px;
              &:nth-child(1),&:nth-child(2) {
                margin-top: 0;
              }
              &:hover,&.selected{
                color: #1F9AEF;
                border-color: #1F9AEF;
              }
              .icon-wrapper{
                width: 30px;
                height: 50px;
                line-height: 50px;
                text-align: center;
                color: #1F9AEF;
                >i{
                  font-size: 26px;
                }
              }
              .name-area{
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 150px;
                height: 50px;
                box-sizing: border-box;
                padding: 0 10px;
                .task-name{
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  font-weight: 700;
                }
                .task-desc{
                  color: #ccc;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                }
              }
            }
          }
        }
      }
    }
  }
}
</style>