<template>
  <el-dialog 
    width="700px"
    :visible.sync="isDialogShow" title="选择自动化模板"
    class="flow-template-selector"
  >
    <div class="dialog-body">
      <ul class="left-nav">
        <li v-for="item of templateTypes" :key="item.name" 
          :class="{selected: curType === item}"
          @click="__chooseType(item)"
        >
          <i :class="['iconfont', item.icon]"></i>
          <span>{{item.name}}</span>
        </li>
      </ul>
      <div class="right-content" ref="scrollWrapper" @scroll="__onScroll">
        <template v-for="type of templateTypes">
          <template v-for="template of type.templates">
            <div 
              ref="templates"
              :class="['template-card', {
                selected: curTemplate === template
              }]"
              :key="`${type.name}-${template.title}`"
              @click="__chooseTemplate(template)"
            >
              <div class="template-title">
                <i :class="['iconfont', type.icon]"></i>
                <span>{{template.title}}</span>
              </div>
              <div class="graphy-wrapper">
                <div 
                  class="graphy-row" 
                  v-for="(row, rowIndex) of template.step" 
                  :key="rowIndex"
                >
                  <div 
                    class="graphy-item" 
                    v-for="(stepName, cellIndex) of row"
                    :key="cellIndex"
                  >{{stepName}}</div>
                </div>
              </div>
            </div>
          </template>
        </template>
      </div>
    </div>
    <div slot="footer">
      <el-button type="default" @click="isDialogShow=false">取消</el-button>
      <el-button type="primary" :disabled="!curTemplate" @click="__onConfirm">创建</el-button>
    </div>
  </el-dialog>
</template>

<script>
/*
const templateTypes = [{
  name: 'Java',
  icon: 'icon-java',
  templates: [
    {title: 'Java · 构建、部署', step: [['构建', '部署']]},
    {title: 'Java · 镜像构建，发布', step: [['构建', '部署']]},
    {title: 'Java · 测试、构建、部署', step: [['代码扫描', '构建', '部署'], ['测试']]},
    {title: 'Java · 测试、构建', step: [['代码扫描', '构建'], ['测试']]},
    {title: 'Java · 测试、构建镜像', step: [['代码扫描', '构建镜像'], ['测试']]}
  ]
}, {
  name: 'Node.js',
  icon: 'icon-node-js',
  templates: [
    {title: 'Node.js · 测试、构建', step: [['代码扫描', '构建'], ['测试']]},
    {title: 'Node.js · 测试、构建镜像', step: [['代码扫描', '构建镜像'], ['测试']]},
    {title: 'Node.js · 测试、构建、部署', step: [['代码扫描', '构建', '部署'], ['测试']]}
  ]
}, {
  name: '其他',
  icon: 'icon-more',
  templates: [
      {title: '其他 · 执行命令', step: [['执行命令']]},
      {title: '其他 · 空模板', step: [['空模板']]},
      {title: '其他 · 镜像构建，发布', step: [['镜像构建', '部署']]}
  ]
}]
*/
const ICON = {
  'Java': 'icon-java', 
  'Java jar': 'icon-java', 
  'Java war': 'icon-java', 
  'C++': 'icon-cyuyan',  
  '移动端': 'icon-yidongduan',  
  'Go': 'icon-Goyuyan',  
  'PHP': 'icon-php',  
  'Node.js': 'icon-node-js',  
  'Python': 'icon-python',  
  '.NET Core': 'icon-dot-net'
}
import {gettemplateList} from '@/assets/js/api'
export default {
  data() {
    return {
      isDialogShow: false,
      templateTypes: [],
      templates: [],
      curType: {},
      curTemplate: null
    }
  },
  methods: {
    open() {
      this.isDialogShow = true;
    },
    close(){
      this.isDialogShow = false;
    },
    __chooseType(type) {
      this.curType = type;
      let pos = this.templates.findIndex(o => o.type === type);
      if(pos > -1) {
        this.$refs.templates[pos].scrollIntoView({behavior: 'smooth'});
      }
    },
    __chooseTemplate(template) {
        console.log(template)
      this.curTemplate = template;
    },
    __onScroll() {
      let scrollTop = this.$refs.scrollWrapper.scrollTop;
      let winHeight = 440;
      this.$refs.templates.forEach((o, i) => {
        let offsetTop = this.templates[i].offsetTop;
        if (winHeight + scrollTop - offsetTop > winHeight - winHeight/2) {
          this.curType = this.templates[i].type;
        }
      })
    },
    __onConfirm() {
      this.$emit('confirm', {
        template: this.curTemplate,
        templateType: this.curType
      });
    }
  },
  async mounted() {
    gettemplateList().then(async ({obj: list}) => {
      this.templateTypes = Object.entries(list).map(([key, value]) => ({
        name: key,
        icon: ICON[key],
        templates: value.map(o => ({
            id: o.id,
            templateId: o.templateId,
            title: o.name,
            step: [o.description.split('，')]
          }))
      }))
      this.templates = this.templateTypes.reduce(
        (last, now) => last.concat(now.templates.map(o => ({
          ...o,
          type: now,
          offsetTop: 0
        })))
        ,
        []
      )
      this.curType = this.templateTypes[0];
      await this.$nextTick();
      let offsetTop = 0;
      this.templates.forEach(o => {
        o.offsetTop = offsetTop;
        offsetTop += (o.step.length > 1 ? 149 : 100) + 10
      })
    })
  }
}
</script>

<style lang="less" scoped>
.flow-template-selector{
  /deep/ .el-dialog__header{
    padding: 10px 15px;
    border-bottom: 1px solid #ccc;
    .el-dialog__headerbtn{
      top: 15px;
    }
  }
  /deep/ .el-dialog__body{
    padding: 0;
    .dialog-body{
      display: flex;
      .left-nav{
        width: 120px;
        height: 440px;
        overflow-y: auto;
        border-right: 1px solid #eee;
        li{
          padding: 0 15px;
          list-style: none;
          height: 48px;
          line-height: 48px;
          font-size: 16px;
          box-sizing: border-box;
          cursor: pointer;
          &:not(:last-child) {
            border-bottom: 1px solid #eee;
          }
          >span{
            font-size: 12px;
            margin-left: 10px;
          }
          &:hover,&.selected{
            color: #3DA8F5;
            background: #eee;
          }
        }
      }
      .right-content{
        flex: 1;
        box-sizing: border-box;
        padding: 10px;
        height: 440px;
        overflow-y: auto;
        .template-card{
          border-radius: 5px;
          padding: 15px;
          background: #EAF9FF;
          border: 1px solid #EAF9FF;
          &:not(:first-child) {
            margin-top: 10px;
          }
          cursor: pointer;
          &.selected,&:hover{
            border-color: #1F9AEF
          }
          .template-title{
            i{
              color: #1F9AEF
            }
            span{
              margin-left: 5px;
              font-weight: 500;
            }
          }
          .graphy-wrapper{
            .graphy-row{
              margin-top: 15px;
              .graphy-item{
                display: inline-block;
                position: relative;
                width: 130px;
                height: 34px;
                line-height: 34px;
                text-align: center;
                font-size: 12px;
                color: #6E6E6E;
                background: #fff;
                border-radius: 20px;
                &:not(:last-child) {
                  margin-right: 20px;margin-bottom: 5px;
                }
                &:not(:first-child) {
                  &::after{
                    content: '';
                    width: 20px;
                    border-top: 1px solid #1F9AEF;
                    position: absolute;
                    left: -20px;
                    top: 50%;
                    transform: translateY(-50%);
                  }
                }
              }
              &:not(:first-child)>.graphy-item:first-child::before{
                content: '';
                width: 53px;
                border-top: 1px solid #1F9AEF;
                position: absolute;
                left: 129px;
                top: 16px;
                transform: rotate(-67deg);
                transform-origin: left center;
              }
            }
          }
        }
      }
    }
  }
}
</style>