<template>
  <div class="flow-base-info">
    <div class="setting-layout__sidebar">
      <ul class="at-nav">
        <li class="at-nav-item" 
          :class="{'at-nav-item-selected': tabIndex === 1}"
          @click="tabIndex=1"
        >
          <div class="at-nav-item-main">
            <span class="at-nav-item-label">定时触发</span>
            <el-switch v-model="data.isTimerTriggerOn"></el-switch>
          </div>
        </li>
      </ul>
    </div>
    <div class="setting-layout__content">
      <div class="content-title">
        <div class="title">自动化信息</div>
        <div class="subtitle">定时单次或周期触发流水线自动运行</div>
      </div>
      <div class="content">
        <el-form :model="data" ref="form1" :disabled="!data.isTimerTriggerOn">
          <el-form-item label="触发方式" prop="triggerMode">
            <el-radio v-model="data.triggerMode" :label="1">周期触发</el-radio>
            <el-radio v-model="data.triggerMode" :label="2">单次触发</el-radio>
          </el-form-item>
          <el-form-item label="日期选择" prop="triggerWeekDay">
            <el-checkbox-group v-model="data.triggerWeekDay">
              <el-checkbox-button :key="1" :label="1">周一</el-checkbox-button>
              <el-checkbox-button :key="2" :label="2">周二</el-checkbox-button>
              <el-checkbox-button :key="3" :label="3">周三</el-checkbox-button>
              <el-checkbox-button :key="4" :label="4">周四</el-checkbox-button>
              <el-checkbox-button :key="5" :label="5">周五</el-checkbox-button>
              <el-checkbox-button :key="6" :label="6">周六</el-checkbox-button>
              <el-checkbox-button :key="7" :label="7">周日</el-checkbox-button>
            </el-checkbox-group>
          </el-form-item>
          <el-form-item label="触发时间" prop="startTime">
            <el-time-select
              class="time-range"
              placeholder="起始时间"
              v-model="data.startTime"
              :picker-options="{
                start: '00:00',
                step: '00:05',
                end: '23:55'
              }">
            </el-time-select>
            <el-time-select
              class="time-range"
              placeholder="结束时间"
              v-model="data.endTime"
              :picker-options="{
                start: '00:00',
                step: '00:05',
                end: '23:55',
                minTime: data.startTime
              }">
            </el-time-select>
          </el-form-item>
          <el-form-item label="间隔时间" prop="intervalTime">
            <el-select v-model="data.intervalTime">
              <el-option v-for="n of [5,10,20,30,60,120,240]" :key="n" :label="`${n}分钟`" :value="n"></el-option>
            </el-select>
          </el-form-item>
        </el-form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'FlowTriggerConfig',
  props: {
    data: {
      required: true,
      type: Object
    }
  },
  data() {
    return {
      tabIndex: 1
    }
  },
  methods: {
  }
}
</script>

<style lang="less" scoped>
.flow-base-info{
  display: flex;
  width: 100%;
  height: 100%;
  padding: 20px 120px;
  box-sizing: border-box;
  justify-content: space-between;
  .setting-layout__sidebar {
    height: calc(100vh - 100px);
    width: 280px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    margin-right: 20px;
    background: #fff;
    .at-nav {
      margin-top: 8px;
      .at-nav-item {
        position: relative;
        list-style: none;
        margin: 8px 0;
        cursor: pointer;
        &::before {
          width: 2px;
          left: 0;
          bottom: 0;
          top: 0;
          -webkit-transition: all .4s cubic-bezier(.23,1,.32,1);
          transition: all .4s cubic-bezier(.23,1,.32,1);
          content: " ";
          position: absolute;
          z-index: 2
        }
        .at-nav-item-main {
          box-sizing: border-box;
          padding: 6px 20px;
          display: flex;
          justify-content: space-between;
          background: #fff;
          &:hover {
            background: #f7f7f7!important;
          }
        }
        &.at-nav-item-selected{
          &::before {
            background: #1b9aee;
          }
        }
      }
    }
  }
  .setting-layout__content {
    padding: 10px 0;
    height: calc(100vh - 100px);
    overflow-y: auto;
    flex: 1;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    background: #fff;
    box-sizing: border-box;
    .content-title{
      padding: 0 20px;
      border-bottom: 1px solid #e5e5e5;
      font-size: 16px;
      color: #6e6e6e;
      .subtitle{
        font-size: 12px;
        color: #8c8c8c;
        padding: 5px 0 10px 0;
      }
    }
    .content{
      padding: 20px;
      .time-range{
        margin-right: 10px;
        width: 150px;
      }
    }
  }
}
</style>