<template>
  <div class="my-flow">
    <el-dialog title="日志" :visible.sync="dialogState" width="50%" :before-close="handleClose">
      <p
        v-for="(item,index) in dialogData"
        :key="index"
      >
        <span v-if="item.indexOf('ERROR')<0">{{item}}</span>
        <span v-else>
          <i :style="pStyle">{{item.substring(0,5)}}</i>
          {{item.substring(5)}}
        </span>
      </p>
      <span slot="footer" class="dialog-footer">
        <!-- <el-button @click="dialogState = false">取 消</el-button> -->
        <el-button type="primary" @click="dialogState = false">导出</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
// import FlowTemplateSelector from '@/components/common/FlowTemplateSelector';
// import FlowCreator from '@/components/common/FlowCreator';
// import StepBar from '@/components/common/TableColumnStepBar';
// import StatusBar from '@/components/common/TableColumnStatusBar';
// import {deepCopy} from '@/assets/js/utils'
// import {
//   ceateJob,
//   collectJob, 
//   getJobList,
//   buildJob,
//   deleteJob,
//   getJob,
//   getGroupList,
//   updateJob
// } from '@/assets/js/api'

export default {
  props:{
      dialogState:{
        type: Boolean,
        // required: false
      },
      dialogData:{
        type: Array,
        // required: []
      }
  },
  data() {
    return {
      dialogVisible:false,
      pStyle:'color:red;font-style: normal;'
    }
  },
  methods: {
    handleClose(done) {
        this.$emit('dialogDone',false)
        done();
    }
  },
  mounted(){

  },
  created() {
        
  },
//   watch(){
//       dialogState
//   }
}
</script>

<style lang="less" scoped>
/deep/ .el-dialog {
  background: #000;
  .el-dialog__header {
    background: #fff;
  }
  .el-dialog__body {
    height: 400px;
    overflow: auto;
    p {
      color: #fff;
    }
  }
  .el-dialog__footer {
    background: #fff;
  }
}
</style>