<template>
  <div class="main-content">
    <el-menu
      class="left-menu"
      :collapse="isCollapse"
      :router="true"
      :default-active="defaultActive"
    >
      <i
        :class="['btn-collapse', isCollapse ? 'el-icon-s-unfold':'el-icon-s-fold']"
        @click="isCollapse=!isCollapse"
      ></i>
      <el-menu-item index="/">
        <i class="el-icon-menu"></i>
        <span slot="title">我的自动化</span>
      </el-menu-item>
      <el-menu-item index="/AllFlow">
        <i class="el-icon-document"></i>
        <span slot="title">全部自动化</span>
      </el-menu-item>
      <el-menu-item index="/TestResult" @click="openUrl">
        <i class="el-icon-document"></i>
        <span slot="title">测试结果</span>
      </el-menu-item>
      <el-menu-item index="/configure">
        <i class="el-icon-document"></i>
        <span slot="title">配置中心</span>
      </el-menu-item>
    </el-menu>
    <keep-alive>
      <router-view @closeDialog="closeDialog" class="right-content"></router-view>
    </keep-alive>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isCollapse: false,
      defaultActive:'/',
      url: window.__testResultUrl
    }
  },
  methods: {
      closeDialog(val){
        console.log(val);
        this.$router.push({name:'configure'})
        this.defaultActive='/configure'
      },
      openUrl(){
        window.open(this.url,'_blank')
      }
  },
  mounted() {
    //   this.menuSelect()
  }
}
</script>

<style lang="less" scoped>
.main-content {
  display: flex;
  .left-menu {
    position: relative;
    &:not(.el-menu--collapse) {
      width: 200px;
    }
    box-sizing: border-box;
    background: #fff;
    border-right: 1px solid #ccc;
    .btn-collapse {
      position: absolute;
      right: 0;
      top: 0;
      color: #ccc;
      cursor: pointer;
      &:hover {
        color: #3da8f5;
      }
      font-size: 16px;
      z-index: 100;
    }
  }
  .right-content {
    flex: 1;
    overflow: hidden;
  }
}
</style>