<template>
  <el-table-column :label="column.label" align="center" :min-width="column.width">
    <template slot-scope="{row}">
      <div class="status-bar">
        <el-button type="text" @click="$emit('custum-event', {
          event: 'show-build-history',
          payload: row.jobId
        })">
          <template v-if="row.status!=='SUCCESS'">
            <span class="error">#{{row.status}}</span>
            <i class="el-icon-error"/>
          </template>
          <template v-else>
            <span class="success">成功</span>
          </template>
        </el-button>
      </div>
    </template>
  </el-table-column>
</template>

<script>
export default {
  name: 'StatusBar',
  props: {
    column: {
      type: Object,
      required: true
    }
  }
}
</script>

<style lang="less" scoped>
.status-bar{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0;
  /deep/ .el-button{
    padding: 0;
  }
  span{
    font-size: 12px;
    &.success{
      color: lightgreen;
    }
  }
  .el-icon-error{
    font-size: 12px;
    color: red;
    margin-left: 5px;
  }
}
</style>