<template>
  <el-table-column :label="column.label" align="center" :min-width="column.width">
    <template slot-scope="{row}">
      <div class="step-bar">
        <div 
          class="step-item" 
          v-for="(name, i) of row.runSteps"
          :key="i"
        >
          <span class="step-point"></span>
          <span class="step-name">{{name}}</span>
        </div>
      </div>
    </template>
  </el-table-column>
</template>

<script>
export default {
  name: 'StepBar',
  props: {
    column: {
      type: Object,
      required: true
    }
  }
}
</script>

<style lang="less" scoped>
.step-bar{
  display: flex;
  padding: 10px 0 0;
  .step-item{
    position: relative;
    &:not(:first-child) {
      margin-left: 10px;
    }
    .step-point{
      position: absolute;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: red;
      left: 50%;
      top: -5px;
      transform: translateX(-50%);
    }
    .step-name{

    }
  }
}
</style>