@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1650206317395') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-more:before {
  content: "\e684";
}

.icon-yidongduan:before {
  content: "\e63f";
}

.icon-python:before {
  content: "\e664";
}

.icon-php:before {
  content: "\e66c";
}

.icon-java:before {
  content: "\e614";
}

.icon-node-js:before {
  content: "\e718";
}

.icon-dot-net:before {
  content: "\eb7e";
}

.icon-cyuyan:before {
  content: "\e61a";
}

.icon-Goyuyan:before {
  content: "\e61b";
}

