<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
export default {
}
</script>

<style scoped lang="less">
#app{
  width: 100vw;
  height: 100vh;
}
</style>